<p-card>
  <div class="flex flex-1 flex-col px-4 py-4">
    <span class="text-2xl font-semibold">{{ update ? 'Update' : 'Create' }} Team</span>
  </div>

  <p-inputgroup class="px-4">
    <input pInputText [(ngModel)]="teamName" placeholder="Ex: Teamy McTeamFace" />
  </p-inputgroup>

  <p-inputgroup class="p-4">
    <p-inputgroup-addon><i class="pi pi-user"></i></p-inputgroup-addon>

    <input pInputText [(ngModel)]="newGolferName" placeholder="Name" />

    <p-select
      class="ring-1 ring-gray-200 bg-gray-50 rounded-md text-left h-8 ml-2 pl-2 py-1"
      [options]="roleOptions"
      [(ngModel)]="newGolferRole"
      placeholder="Role"
    />

    <p-select
      class="ring-1 ring-gray-200 bg-gray-50 rounded-md text-left h-8 ml-2 pl-2 py-1"
      [options]="divisionOptions"
      [(ngModel)]="newGolferDivision"
      optionLabel="name"
      placeholder="Division"
    />
  </p-inputgroup>
</p-card>
