<div class="scorecard">
  <app-scorecard-title-line
    [rounds]="match.rounds"
    [title]="getMatchTitle()"
    [subtitle]="getMatchSubtitle()"
    [(selectedTeeRoundIdx)]="roundIdx"
  ></app-scorecard-title-line>

  <app-scorecard-hole-line
    [holeResultData]="match.rounds[roundIdx].holes"
    [(selectedScoreMode)]="scoreMode"
  ></app-scorecard-hole-line>
  <app-scorecard-tee-info
    [holeResultData]="match.rounds[roundIdx].holes"
    [showDetails]="true"
  ></app-scorecard-tee-info>

  @for (round of match.rounds; track round) {
    @if (round.team_id === topTeamId) {
      <app-scorecard-score-line
        [round]="round"
        [scoreMode]="scoreMode"
        [title]="round.golfer_name"
        [subtitle]="getRoundSubtitle(round)"
        [linkToGolferHome]="true"
      ></app-scorecard-score-line>
    }
  }

  <app-match-scorecard-score-line
    [match]="match"
    [topTeamId]="topTeamId"
    [bottomTeamId]="bottomTeamId"
  ></app-match-scorecard-score-line>

  @for (round of match.rounds; track round) {
    @if (round.team_id === bottomTeamId) {
      <app-scorecard-score-line
        [round]="round"
        [scoreMode]="scoreMode"
        [title]="round.golfer_name"
        [subtitle]="getRoundSubtitle(round)"
        [linkToGolferHome]="true"
      ></app-scorecard-score-line>
    }
  }
</div>
