<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="matchesData.data.length > 0 && !isLoading" style="width: 90%; margin: 0% 5%;">
  <mat-form-field class="filter-field">
    <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="matchesData" multiTemplateDataRows matSort matSortStart="asc">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let match">
        <div>{{ match[column] }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedMatchDetail">
      <td mat-cell *matCellDef="let match" [attr.colspan]="columnsToDisplay.length">
        <div class="match-detail" [@detailExpand]="match == expandedMatch ? 'expanded' : 'collapsed'">
          <!-- <app-match-scorecard [match]="match"></app-match-scorecard> -->
          <!-- <mat-action-row>
            <a routerLink="edit/" [queryParams]="{ id: match.match_id }"><button mat-raised-button color="accent">Edit</button></a>
          </mat-action-row> -->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let match; columns: columnsToDisplay;" class="match-row" [class.match-expanded-row]="expandedMatch === match" (click)="expandedMatch = expandedMatch === match ? null : match"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedMatchDetail']" class="match-detail-row"></tr>
  </table>
  <mat-paginator [length]="numMatches" [pageIndex]="pageIndex" [pageSize]="matchesPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="matchesData.data.length > 0"></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="matchesData.data.length <= 0 && !isLoading">No match data available</p>
</div>
