<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="roundSummaries.data.length > 0 && !isLoading">
  <mat-form-field class="filter-field">
    <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="roundSummaries" multiTemplateDataRows matSort matSortStart="asc">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let round">
        <div>
          {{ round[column] }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedRoundDetail">
      <td mat-cell *matCellDef="let round" [attr.colspan]="columnsToDisplay.length">
        <div class="round-detail" [@detailExpand]="round == expandedRound ? 'expanded' : 'collapsed'">
          <app-round-scorecard [round]="round"></app-round-scorecard>
          <!-- <div class="course-track-detail" *ngFor="let track of course.tracks">
            <span>{{ track.name }}</span>
            <div class="course-tee-set-detail" *ngFor="let tee of track.tees">
              <span>{{ tee.name }}: {{ tee.rating }} / {{ tee.slope }}</span>
              <span>, Par: {{ computeTeePar(tee) }}</span>
              <span>, Yardage: {{ computeTeeYardage(tee) }}</span>
            </div>
            <app-course-scorecard [tees]="track.tees"></app-course-scorecard>
          </div> -->
          <!-- <mat-action-row>
            <a routerLink="edit/" [queryParams]="{ id: round.round_id }"><button mat-raised-button color="accent">Edit</button></a>
          </mat-action-row> -->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let round; columns: columnsToDisplay;" class="round-row" [class.round-expanded-row]="expandedRound === round" (click)="expandedRound = expandedRound === round ? null : round"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedRoundDetail']" class="round-detail-row"></tr>
  </table>
  <mat-paginator [length]="totalRounds" [pageIndex]="pageIndex" [pageSize]="roundsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="roundSummaries.data.length > 0"></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="roundSummaries.data.length <= 0 && !isLoading">No round data available</p>
</div>
