<div class="content">

  <h1>User</h1>

  <mat-spinner *ngIf="!userInfo"></mat-spinner>

  <div class="card user-info-card" *ngIf="userInfo">
    <span>Id: {{ userInfo.id }}</span>
    <span>Username: {{ userInfo.username }}</span>
    <span>Name: {{ userInfo.name }}</span>
    <span>Email: {{ userInfo.email }}</span>
    <span>Disabled: {{ userInfo.disabled }}</span>
    <span>Is Admin: {{ userInfo.is_admin }}</span>
    <span>Edit Flights: {{ userInfo.edit_flights }}</span>
    <span>Edit Tournaments: {{ userInfo.edit_tournaments }}</span>
    <span>Edit Payments: {{ userInfo.edit_payments }}</span>
  </div>

</div>
