.styled-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  vertical-align: center;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:first-of-type {
  border-top: 2px solid #3f51b5;
}

.styled-table .info {
  text-align: left;
  padding-top: 4px;
  padding-left: 16px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  font-weight: normal;
}

.styled-table .tee-list {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 8px;
}

.tee-card {
  height: 8px;
  width: 72px;
  margin: 2px 4px 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  cursor: pointer;
}

.tee-card:hover {
  transform: translateY(-1px);
}
