<div class="content">
  <h1>Qualifying Scores</h1>

  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Golfer</mat-label>
    <input type="text" matInput required title="Start typing golfer name to autocomplete." [formControl]="golferControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let g of filteredGolferOptions | async" [value]="g.name">{{ g.name }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="content" *ngIf="selectedGolfer">
    <div class="content" *ngIf="selectedGolfer.handicap_index !== null; else noHandicapIndex">
      <p>Handicap Index: {{ selectedGolfer.handicap_index | number:'1.1-1' }}</p>
      <p>Last Updated: {{ selectedGolfer.handicap_index_updated | date:'shortDate' }}</p>
    </div>

    <ng-template #noHandicapIndex>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select [formControl]="typeControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let type of typeOptions" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="typeControl.value === 'Qualifying Round'">

        <ng-container [formGroup]="round1Group">
          <div>
            <h2>Round 1</h2>
          </div>

          <mat-form-field class="date-input" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput required formControlName="datePlayed" [matDatepicker]="round1DatePlayed">
            <mat-datepicker-toggle matSuffix [for]="round1DatePlayed"></mat-datepicker-toggle>
            <mat-datepicker #round1DatePlayed></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="medium-input" appearance="fill">
            <mat-label>Course</mat-label>
            <input type="text" matInput required formControlName="courseName" title="Enter course name." value="">
          </mat-form-field>

          <mat-form-field class="short-input" appearance="fill">
            <mat-label>Track</mat-label>
            <input type="text" matInput required formControlName="trackName" title="Enter track name." value="">
          </mat-form-field>

          <mat-form-field class="short-input" appearance="fill">
            <mat-label>Tee</mat-label>
            <input type="text" matInput required formControlName="teeName" title="Enter tee name." value="">
          </mat-form-field>

          <mat-form-field class="short-input" appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select required formControlName="teeGender" title="Enter tee gender." value="">
              <mat-option value="Men's">Men's</mat-option>
              <mat-option value="Ladies'">Ladies'</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="numeric-input" appearance="fill">
            <mat-label>Rating</mat-label>
            <input type="number" matInput required formControlName="teeRating" title="Enter tee rating." value="">
          </mat-form-field>

          <mat-form-field class="numeric-input" appearance="fill">
            <mat-label>Slope</mat-label>
            <input type="number" matInput required formControlName="teeSlope" title="Enter tee slope." value="">
          </mat-form-field>

          <mat-form-field class="long-input" appearance="fill">
            <mat-label>Comment</mat-label>
            <input type="text" matInput formControlName="comment" title="Enter comment." value="">
          </mat-form-field>

          <div>
            <h3>Par</h3>
          </div>

          <div formGroupName="pars">
            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole1" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole2" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole3" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole4" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole5" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole6" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole7" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole8" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole9" value="">
            </mat-form-field>
          </div>

          <div>
            <h3>Score</h3>
          </div>

          <div formGroupName="scores">
            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole1" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole2" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole3" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole4" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole5" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole6" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole7" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole8" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole9" value="">
            </mat-form-field>
          </div>
        </ng-container>

        <div class="content">
          <span class="bold">Par: {{ computeRound1TotalPar() }} | Gross: {{ computeRound1TotalGrossScore() }} | A.G.: {{ computeRound1TotalAdjustedGrossScore() }} | Diff: {{ computeRound1ScoreDifferential() | number:'1.1-1'}}</span>
        </div>

        <ng-container [formGroup]="round2Group">
          <div>
            <h2>Round 2</h2>
          </div>

          <mat-form-field class="date-input" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput required formControlName="datePlayed" [matDatepicker]="round2DatePlayed">
            <mat-datepicker-toggle matSuffix [for]="round2DatePlayed"></mat-datepicker-toggle>
            <mat-datepicker #round2DatePlayed></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="medium-input" appearance="fill">
            <mat-label>Course</mat-label>
            <input type="text" matInput required formControlName="courseName" title="Enter course name." value="">
          </mat-form-field>

          <mat-form-field class="short-input" appearance="fill">
            <mat-label>Track</mat-label>
            <input type="text" matInput required formControlName="trackName" title="Enter track name." value="">
          </mat-form-field>

          <mat-form-field class="short-input" appearance="fill">
            <mat-label>Tee</mat-label>
            <input type="text" matInput required formControlName="teeName" title="Enter tee name." value="">
          </mat-form-field>

          <mat-form-field class="short-input" appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select required formControlName="teeGender" title="Enter tee gender." value="">
              <mat-option value="Men's">Men's</mat-option>
              <mat-option value="Ladies'">Ladies'</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="numeric-input" appearance="fill">
            <mat-label>Rating</mat-label>
            <input type="number" matInput required formControlName="teeRating" title="Enter tee rating." value="">
          </mat-form-field>

          <mat-form-field class="numeric-input" appearance="fill">
            <mat-label>Slope</mat-label>
            <input type="number" matInput required formControlName="teeSlope" title="Enter tee slope." value="">
          </mat-form-field>

          <mat-form-field class="long-input" appearance="fill">
            <mat-label>Comment</mat-label>
            <input type="text" matInput formControlName="comment" title="Enter comment." value="">
          </mat-form-field>

          <div>
            <h3>Par</h3>
          </div>

          <div formGroupName="pars">
            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole1" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole2" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole3" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole4" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole5" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole6" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole7" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole8" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole9" value="">
            </mat-form-field>
          </div>

          <div>
            <h3>Score</h3>
          </div>

          <div formGroupName="scores">
            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole1" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole2" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole3" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole4" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole5" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole6" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole7" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole8" value="">
            </mat-form-field>

            <mat-form-field class="numeric-input" appearance="fill">
              <input type="number" matInput required formControlName="hole9" value="">
            </mat-form-field>
          </div>
        </ng-container>

        <div class="content">
          <span class="bold">Par: {{ computeRound2TotalPar() }} | Gross: {{ computeRound2TotalGrossScore() }} | A.G.: {{ computeRound2TotalAdjustedGrossScore() }} | Diff: {{ computeRound2ScoreDifferential() | number:'1.1-1'}}</span>
        </div>

      </div>

      <div *ngIf="typeControl.value === 'Official Handicap Index'">
        <div>
          <mat-form-field class="date-input" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput required [formControl]="handicapIndexDateControl" [matDatepicker]="handicapDateValid">
            <mat-datepicker-toggle matSuffix [for]="handicapDateValid"></mat-datepicker-toggle>
            <mat-datepicker #handicapDateValid></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="numeric-input" appearance="fill">
            <mat-label>Index</mat-label>
            <input type="number" matInput required [formControl]="handicapIndexControl" placeholder="Ex. 4.6" title="Enter official handicap index." value="">
          </mat-form-field>

          <mat-form-field class="long-input" appearance="fill">
            <mat-label>Comment</mat-label>
            <input type="text" matInput [formControl]="commentControl" placeholder="Ex. GHIN 1234567890" title="Enter comment." value="">
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
        <button mat-raised-button color="accent" (click)="clearForm()">Clear</button>
      </div>
    </ng-template>
  </div>
</div>
