@if (!selectedScoreOption) {
  <p class="subtitle italic">Select a scoring type to show results</p>
}
<div class="card-container">
  @for (scoreOption of scoreOptions; track scoreOption) {
    <div
      aria-hidden="true"
      class="card card-small score-option-card selectable"
      [ngClass]="selectedScoreOption === scoreOption ? 'selected' : ''"
      (click)="toggleScoreOption(scoreOption)"
      (keydown)="toggleScoreOption(scoreOption)"
    >
      {{ scoreOption }}
    </div>
  }
</div>
@if (selectedScoreOption) {
  <div class="card standings-card">
    <div>
      <table>
        <tr>
          <th>Pos</th>
          <th>Name</th>
          <th>Gross</th>
          @if (
            selectedScoreOption === 'Individual Gross' || selectedScoreOption === 'Individual Net'
          ) {
            <th>Hcp</th>
          }
          <th>Net</th>
        </tr>
        @if (
          selectedScoreOption === 'Individual Gross' || selectedScoreOption === 'Individual Net'
        ) {
          <tbody>
            @for (data of individualStandingsData; track data) {
              <tr>
                <td>{{ data.position }}</td>
                <td>{{ data.name }}</td>
                <td [ngClass]="selectedScoreOption === 'Individual Gross' ? 'bold' : ''">
                  {{ data.grossScore | number: '1.0-0' }}
                </td>
                @if (data.playingHandicap || data.playingHandicap === 0) {
                  <td>
                    {{ data.playingHandicap | number: '1.0-0' }}
                  </td>
                }
                @if (!data.playingHandicap && data.playingHandicap !== 0) {
                  <td>--</td>
                }
                <td [ngClass]="selectedScoreOption === 'Individual Net' ? 'bold' : ''">
                  {{ data.netScore | number: '1.0-0' }}
                </td>
              </tr>
            }
          </tbody>
        }
        @if (selectedScoreOption === 'Team Gross' || selectedScoreOption === 'Team Net') {
          <tbody>
            @for (data of teamStandingsData; track data) {
              <tr>
                <td>{{ data.position }}</td>
                <td>{{ data.name }}</td>
                <td [ngClass]="selectedScoreOption === 'Team Gross' ? 'bold' : ''">
                  {{ data.grossScore | number: '1.0-0' }}
                </td>
                <td [ngClass]="selectedScoreOption === 'Team Net' ? 'bold' : ''">
                  {{ data.netScore | number: '1.0-0' }}
                </td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
  </div>
}
