.score-option-card {
  width: 60px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  width: 100%;
  text-align: center;
}

.standings-card {
  height: 100%;
  width: 400px;
  flex-direction: column;
  overflow: hidden;
  justify-content: left;
  align-items: center;
}

table {
  text-align: center;
  width: 400px;
}
