<div class="carousel">
  <div>
    <div class="leftArrow" (click)="goToPrevious()" (keydown)="goToPrevious()">❰</div>
    <div class="rightArrow" (click)="goToNext()" (keydown)="goToNext()">❱</div>
  </div>
  <div class="carouselContents">
    <div
      class="image"
      [ngStyle]="{
        'background-image': getCurrentImageUrl(),
        'background-position': getCurrentImagePosition(),
      }"
      *ngIf="contents[currentIndex].image_url"
    ></div>
    <h2 [ngClass]="getCurrentTextClass()">{{ getCurrentTitle() }}</h2>
    <p [ngClass]="getCurrentTextClass()">{{ getCurrentDescription() }}</p>
  </div>
  <div class="dotsContainer">
    <div
      *ngFor="let content of contents; let idx = index"
      [ngClass]="idx === currentIndex ? 'currentDot' : 'dot'"
      (click)="goToIndex(idx)"
      (keydown)="goToIndex(idx)"
    >
      ●
    </div>
  </div>
</div>
