.carouselContents {
  width: 500px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 2px 2px rgb(165, 165, 165);
}

.image {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  /* transition: background-image .2s; */
}

.text-center,
.text-left,
.text-right {
  text-align: center;
  width: 100%;
}

.text-left {
  width: 62.5%;
  margin-left: 2.5%;
  margin-right: 35%;
}

.text-right {
  width: 62.5%;
  margin-left: 35%;
  margin-right: 2.5%;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  right: 16px;
  font-size: 45px;
  color: rgba(165, 165, 165, 0.4);
  z-index: 1;
  cursor: pointer;
}

.leftArrow:hover,
.rightArrow:hover {
  color: rgba(165, 165, 165, 0.8);
}

.leftArrow {
  left: 16px;
}

.rightArrow {
  right: 16px;
}

.carousel {
  position: relative;
  height: 100%;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot,
.currentDot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(165, 165, 165);
}

.currentDot {
  color: rgb(120, 120, 120);
}
