<div class="flex flex-0 justify-center w-full py-4">
  <p-card>
    <div class="flex flex-1 flex-col px-4 pt-4">
      <span class="text-2xl font-semibold">Login</span>
      <span class="italic pt-2">Only enabled for flight and tournament secretaries</span>
    </div>

    <div class="flex flex-col flex-2 w-full items-center p-4" [formGroup]="loginFormGroup" *ngIf="!isLoggedIn(); else loggedIn">
      <p-floatlabel variant="on">
        <input pInputText id="username" formControlName="usernameControl" autocomplete="off" (keydown.enter)="onLogin()" />
        <label for="username">Username</label>
      </p-floatlabel>
      
      <div class="py-4">
        <p-floatlabel variant="on">
          <input type="password" pInputText id="password" formControlName="passwordControl" autocomplete="off" (keydown.enter)="onLogin()" />
          <label for="password">Password</label>
        </p-floatlabel>
      </div>

      <p-button class="font-semibold" (click)="onLogin()">Login</p-button>
    </div>

    <ng-template #loggedIn>
      <div class="flex flex-col flex-2 w-full items-center p-4">
        <span class="font-semibold">Currently logged in as '{{ getLoggedInName() }}' ({{ getLoggedInUsername() }})</span>

        <p-button class="font-semibold pt-4" [disabled]="!isLoggedIn()" (click)="onLogout()">
          Logout
        </p-button>
      </div>

    </ng-template>
  </p-card>
</div>