<div class="grid grid-cols-12 place-items-stretch gap-4 p-4" *ngIf="info; else loading">
  <div class="hidden md:block md:col-span-2 xl:col-span-1 bg-transparent"></div>
  <div class="hidden xl:block xl:col-span-2 bg-transparent" *ngIf="!standings"></div>
  <app-flight-info class="col-span-12 md:col-span-8 xl:col-span-3" [info]="info" *ngIf="info" />
  <div class="hidden md:block md:col-span-2 lg:hidden bg-transparent"></div>
  <app-flight-standings
    class="col-span-12 xl:col-span-4"
    [standings]="standings"
    *ngIf="standings"
  />
  <app-playoff-bracket class="col-span-12 xl:col-span-4" *ngIf="!standings" />\
  <app-flight-divisions
    class="hidden xl:block xl:col-span-3"
    [divisions]="divisions"
    *ngIf="divisions"
  />
  <div class="hidden xl:block xl:col-span-2 bg-transparent" *ngIf="!standings"></div>
  <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>

  <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>
  <app-flight-schedule
    class="col-span-12 xl:col-span-10"
    [info]="info"
    [matches]="matches"
    *ngIf="matches && info"
  />
  <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>

  <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>
  <app-flight-teams
    class="col-span-12 md:col-span- xl:col-span-3"
    [teams]="teams"
    [substitutes]="substitutes"
    *ngIf="teams && substitutes"
  />
  <app-flight-statistics
    class="col-span-12 xl:col-span-7"
    [statistics]="statistics"
    *ngIf="statistics"
  />
  <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>
</div>

<ng-template #loading>
  <div class="flex flex-col items-center w-full p-10">
    <p-progress-spinner
      strokeWidth="4"
      fill="transparent"
      animationDuration="2s"
      [style]="{ widthcs: '100px', height: '100px' }"
    />
  </div>
</ng-template>
