<p-card>
  <div class="flex flex-row items-center px-4 pt-4">
    <span class="text-2xl font-semibold">Flights</span>
    <div class="mx-auto"></div>
    <div class="flex gap-2">
      @if (canEdit()) {
        <p-button
          label="Create"
          icon="pi pi-plus"
          size="small"
          routerLink="/flight/create"
          class="hidden md:block"
        />
      }
      <a class="p-button hidden md:block" href="mailto:{{ getSecretariesEmailList() }}">
        <span class="text-sm pi pi-send pr-2"></span>
        <span>Secretaries</span>
      </a>
    </div>
  </div>

  @if (isLoading) {
    <div class="flex flex-col items-center py-4">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>
  }

  @if (!isLoading) {
    <p-dataview #dv [value]="flights()">
      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-0 grid-nogutter p-4">
          @for (item of items; track item; let first = $first) {
            <div class="col-span-12 listItem">
              <div
                class="flex flex-col sm:flex-row sm:items-center p-2 gap-4"
                [ngClass]="{ 'border-t border-gray-300': !first }"
              >
                <div class="md:w-20 relative ml-4 cursor-pointer" routerLink="/flight" [queryParams]="{ id: item.id }">
                  <img
                    class="course-logo"
                    [src]="'assets/' + item.logo_url"
                    [alt]="item.name"
                    width="75px"
                  />
                </div>
                <div
                  class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6 ml-4"
                >
                  <div class="flex flex-row md:flex-col justify-center items-start gap-2 cursor-pointer" routerLink="/flight" [queryParams]="{ id: item.id }">
                    <div>
                      <div class="text-lg font-semibold mt-1">
                        {{ getName(item) }}
                      </div>
                      <div class="hidden lg:block font-medium text-sm">
                        {{ item.course }}
                      </div>
                      <div class="hidden lg:block text-sm font-medium">
                        {{ item.tee_times }}
                      </div>
                    </div>
                  </div>
                  <div class="flex gap-2 mr-4">
                    @if (canEdit()) {
                      <p-button
                        icon="pi pi-pencil"
                        [rounded]="true"
                        [text]="true"
                        severity="secondary"
                        [routerLink]="['/flight/edit', item.id]"
                        pTooltip="Edit Flight"
                      />
                    }
                    <p-button
                      icon="pi pi-chevron-right"
                      [rounded]="true"
                      [text]="true"
                      routerLink="/flight"
                      [queryParams]="{ id: item.id }"
                    />
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </ng-template>
    </p-dataview>
  }
</p-card>
