<div class="content">
    <h2>Course Details</h2>

    <mat-spinner *ngIf="isLoadingCourse"></mat-spinner>

    <mat-card class="course-card" *ngIf="!isLoadingCourse">
        <form [formGroup]="courseForm">
            <div class="database-identifiers">
                <span>Course ID: {{ course ? course.id : "--" }}</span>
                <!-- <span>Date Updated: {{ course ? course.date_updated : "--" }}</span> -->
                <button mat-icon-button color="accent" type="button" (click)="onAddTrack()"><mat-icon>add</mat-icon></button>
            </div>
            <div>
                <mat-form-field class="course-name-field">
                    <mat-label>Course Name</mat-label>
                    <input matInput type="text" formControlName="name" [readonly]="course !== undefined">
                </mat-form-field>
                <mat-form-field class="course-year-field">
                    <mat-label>Year</mat-label>
                    <input matInput type="text" formControlName="year">
                </mat-form-field>
            </div>
            <div>
              <mat-form-field class="course-address-field">
                  <mat-label>Address</mat-label>
                  <input matInput type="text" formControlName="address">
              </mat-form-field>
                <mat-form-field class="course-phone">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" formControlName="phone">
                </mat-form-field>
                <mat-form-field class="course-website">
                    <mat-label>Website</mat-label>
                    <input matInput type="text" formControlName="website">
                </mat-form-field>
            </div>
            <mat-card class="track-card" formArrayName="tracks" *ngFor="let track of getTracksArray().controls; let trIdx = index">
                <div class="track-info" formGroupName="{{ trIdx }}">
                    <div class="database-identifiers">
                        <span>Track ID: {{ (course && course.tracks[trIdx]) ? course.tracks[trIdx].id : "--" }}</span>
                        <span>Course ID: {{ (course && course.tracks[trIdx]) ? course.tracks[trIdx].course_id : "--" }}</span>
                        <button mat-icon-button color="accent" type="button" (click)="onAddTee(trIdx, true)"><mat-icon>add</mat-icon></button>
                        <button mat-icon-button color="accent" type="button" (click)="onRemoveTrack(trIdx)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <mat-form-field class="track-name">
                        <mat-label>Track Name</mat-label>
                        <input matInput type="text" formControlName="name" [readonly]="course !== undefined && course.tracks[trIdx] !== undefined">
                    </mat-form-field>
                    <mat-card class="tee-card" formArrayName="tees" *ngFor="let teeSet of getTeesArray(trIdx).controls; let tsIdx = index">
                        <div class="tee-info" formGroupName="{{ tsIdx }}">
                            <div class="database-identifiers">
                                <span>Tee ID: {{ (course && course.tracks[trIdx] && course.tracks[trIdx].tees[tsIdx]) ? course.tracks[trIdx].tees[tsIdx].id : "--" }}</span>
                                <span>Track ID: {{ (course && course.tracks[trIdx] && course.tracks[trIdx].tees[tsIdx]) ? course.tracks[trIdx].tees[tsIdx].track_id : "--" }}</span>
                                <button mat-icon-button color="accent" type="button" (click)="onRemoveTee(trIdx, tsIdx)"><mat-icon>delete</mat-icon></button>
                            </div>
                            <div style="width: 100%; display: flex;">
                                <div style="width: 30%">
                                <mat-form-field class="tee-full-width-field">
                                    <mat-label>Tee Set Name</mat-label>
                                    <input matInput type="text" formControlName="name" [readonly]="course !== undefined && course.tracks[trIdx] !== undefined && course.tracks[trIdx].tees[tsIdx] !== undefined">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Color</mat-label>
                                    <input matInput type="text" formControlName="color">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender">
                                      <mat-option>--</mat-option>
                                      <mat-option *ngFor="let option of TEE_GENDER_OPTIONS" [value]="option">{{ option }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="tee-rating-field">
                                    <mat-label>Rating</mat-label>
                                    <input matInput type="text" formControlName="rating">
                                </mat-form-field>
                                <mat-form-field class="tee-slope-field">
                                    <mat-label>Slope</mat-label>
                                    <input matInput type="text" formControlName="slope">
                                </mat-form-field>
                            </div>
                            <div style="width: 50%">
                              <table class="tee-holes-table">
                                <thead>
                                    <tr class="hole-number">
                                        <td class="bold">Hole</td>
                                        <td formArrayName="holes" *ngFor="let hole of getHolesArray(trIdx, tsIdx).controls; let hIdx = index">
                                            <mat-form-field formGroupName="{{ hIdx }}">
                                                <input matInput type="text" style="font-weight: bold;" formControlName="number">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hole-par">
                                        <td class="bold">Par</td>
                                        <td formArrayName="holes" *ngFor="let hole of getHolesArray(trIdx, tsIdx).controls; let hIdx = index">
                                            <mat-form-field formGroupName="{{ hIdx }}">
                                                <input matInput type="text" formControlName="par">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr class="hole-yardage">
                                        <td class="bold">Yds</td>
                                        <td formArrayName="holes" *ngFor="let hole of getHolesArray(trIdx, tsIdx).controls; let hIdx = index">
                                            <mat-form-field formGroupName="{{ hIdx }}">
                                                <input matInput type="text" formControlName="yardage">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr class="hole-stroke-index">
                                        <td class="bold">Hcp</td>
                                        <td formArrayName="holes" *ngFor="let hole of getHolesArray(trIdx, tsIdx).controls; let hIdx = index">
                                            <mat-form-field formGroupName="{{ hIdx }}">
                                                <input matInput type="text" formControlName="stroke_index">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    </mat-card>
                </div>
            </mat-card>
        </form>
    </mat-card>

    <div *ngIf="!isLoadingCourse">
        <button mat-raised-button color="primary" type="button" [disabled]="!courseForm.valid" (click)="onSubmitCourse()">{{ course ? "Update" : "Create" }}</button>
        <button mat-raised-button color="accent" type="button" (click)="onClearCourse()">Clear</button>
    </div>

</div>
