.course-card {
    margin: 1rem;
}

.course-info-card {
    margin-bottom: 1rem;
}

.track-card {
    margin-bottom: 1rem;
}

.tee-set-card {
    margin-bottom: 1rem;
}

button {
    margin: 0rem 1rem;
}