<mat-card class="course-card">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmitCourse()">
        <div class="course-name">
            <mat-form-field class="course-name-field">
                <mat-label>Course Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Abbreviation</mat-label>
                <input matInput type="text" formControlName="abbreviation">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Course ID</mat-label>
                <input matInput type="text" formControlName="id">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date Updated</mat-label>
                <input matInput type="text" formControlName="dateUpdated">
            </mat-form-field>
        </div>
        <div class="course-address">
            <mat-form-field class="course-address-field">
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address">
            </mat-form-field>
            <mat-form-field class="course-city-field">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="city">
            </mat-form-field>
            <mat-form-field class="course-state-field">
                <mat-label>State</mat-label>
                <input matInput type="text" formControlName="state">
            </mat-form-field>
            <mat-form-field class="course-zip-code-field">
                <mat-label>Zip Code</mat-label>
                <input matInput type="text" formControlName="zipCode">
            </mat-form-field>
        </div>
        <div class="course-contact">
            <mat-form-field class="course-phone">
                <mat-label>Phone</mat-label>
                <input matInput type="text" formControlName="phone">
            </mat-form-field>
            <mat-form-field class="course-website">
                <mat-label>Website</mat-label>
                <input matInput type="text" formControlName="website">
            </mat-form-field>
        </div>
        <mat-card class="track-card" formArrayName="tracks" *ngFor="let track of getTracksArray().controls; let trIdx = index">
            <div class="track-info" formGroupName="{{ trIdx }}">
                <mat-form-field class="track-name">
                    <mat-label>Track Name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Abbreviation</mat-label>
                    <input matInput type="text" formControlName="abbreviation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Track ID</mat-label>
                    <input matInput type="text" formControlName="id">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Course ID</mat-label>
                    <input matInput type="text" formControlName="courseId">
                </mat-form-field>
                <mat-card class="tee-set-card" formArrayName="teeSets" *ngFor="let teeSet of getTeeSetsArray(trIdx).controls; let tsIdx = index">
                    <div class="tee-set-info" formGroupName="{{ tsIdx }}">
                        <mat-form-field>
                            <mat-label>Tee Set Name</mat-label>
                            <input matInput type="text" formControlName="name">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Color</mat-label>
                            <input matInput type="text" formControlName="color">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Gender</mat-label>
                            <input matInput type="text" formControlName="gender">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Tee Set ID</mat-label>
                            <input matInput type="text" formControlName="id">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Track ID</mat-label>
                            <input matInput type="text" formControlName="trackId">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Rating</mat-label>
                            <input matInput type="text" formControlName="rating">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Slope</mat-label>
                            <input matInput type="text" formControlName="slope">
                        </mat-form-field>
                        <span formArrayName="holes" *ngFor="let hole of getHolesArray(trIdx, tsIdx).controls; let hIdx = index">
                            <div formGroupName="{{ hIdx }}">
                                <mat-form-field>
                                    <mat-label>Number</mat-label>
                                    <input matInput type="text" formControlName="number">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Par</mat-label>
                                    <input matInput type="text" formControlName="par">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Handicap</mat-label>
                                    <input matInput type="text" formControlName="handicap">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Yardage</mat-label>
                                    <input matInput type="text" formControlName="yardage">
                                </mat-form-field>
                            </div>
                        </span>
                    </div>
                    <mat-action-row>
                        <button mat-mini-fab type="button" (click)="onRemoveTeeSet(trIdx, tsIdx)"><mat-icon>delete</mat-icon></button>
                    </mat-action-row>
                </mat-card>
            </div>
            <mat-action-row>
                <button mat-raised-button color="basic" type="button" (click)="onAddTeeSet(trIdx)">Add Tee Set</button>
                <button mat-mini-fab type="button" (click)="onRemoveTrack(trIdx)"><mat-icon>delete</mat-icon></button>
            </mat-action-row>
        </mat-card>
        <mat-action-row>
            <button mat-raised-button color="basic" type="button" (click)="onAddTrack()">Add Track</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="button" (click)="onClearCourse()">Clear</button>
        </mat-action-row>
    </form>
</mat-card>
