<mat-card class="course-card">
    <mat-card class="course-info-card">
        <p>Course Information</p>
    </mat-card>
    <mat-card class="track-card" *ngFor="let track of courseData.tracks">
        <p>Track #{{ track.id }}</p>
        <mat-card class="tee-set-card" *ngFor="let teeSet of track.teeSets">
            <p>Tee Set #{{ teeSet.id }}</p>
            <mat-action-row>
                <button mat-mini-fab (click)="removeTeeSet(teeSet)"><mat-icon>delete</mat-icon></button>
            </mat-action-row>
        </mat-card>
        <mat-action-row>
            <button mat-raised-button color="basic" (click)="addTeeSet(track)">Add Tee Set</button>
            <button mat-mini-fab (click)="removeTrack(track)"><mat-icon>delete</mat-icon></button>
        </mat-action-row>
    </mat-card>
    <mat-action-row>
        <button mat-raised-button color="basic" (click)="addTrack()">Add Track</button>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
        <button mat-raised-button color="warn" (click)="clear()">Clear</button>
    </mat-action-row>
</mat-card>
