<p-card>
  <div class="flex flex-col sm:flex-row sm:items-center px-4 pt-4">
    <span class="text-2xl font-semibold">Statistics</span>
    <div class="mx-auto"></div>
    <p-togglebutton class="font-semibold" onLabel="Net" offLabel="Gross" (onChange)="onChangeScoringMode($event)" />
  </div>

  <p-table
    #dt
    [value]="statistics.golfers"
    dataKey="golfer_id"
    sortField="avg_points_won"
    [sortOrder]="-1"
    stripedRows
    selectionMode="single"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="golfer_name">Name <p-sortIcon field="golfer_name" /></th>
        <th pSortableColumn="num_matches">Matches <p-sortIcon field="num_matches" /></th>
        <th pSortableColumn="points_won">Points <p-sortIcon field="points_won" /></th>
        <th pSortableColumn="avg_points_won">Avg. Points <p-sortIcon field="avg_points_won" /></th>
        <th pSortableColumn="avg_gross">Avg. Gross <p-sortIcon field="avg_gross" /></th>
        <th pSortableColumn="avg_gross_to_par">To Par <p-sortIcon field="avg_gross_to_par" /></th>
        <th pSortableColumn="avg_net">Avg. Net <p-sortIcon field="avg_net" /></th>
        <th pSortableColumn="avg_net_to_par">To Par <p-sortIcon field="avg_net_to_par" /></th>
        <th pSortableColumn="num_holes">Holes <p-sortIcon field="num_holes" /></th>
        <th pSortableColumn="num_aces">Aces <p-sortIcon field="num_aces" /></th>
        <th pSortableColumn="num_albatrosses">
          Albatrosses <p-sortIcon field="num_albatrosses" />
        </th>
        <th pSortableColumn="num_eagles">Eagles <p-sortIcon field="num_eagles" /></th>
        <th pSortableColumn="num_birdies">Birdies <p-sortIcon field="num_birdies" /></th>
        <th pSortableColumn="num_pars">Pars <p-sortIcon field="num_pars" /></th>
        <th pSortableColumn="num_bogeys">Bogeys <p-sortIcon field="num_bogeys" /></th>
        <th pSortableColumn="num_double_bogeys">
          Double Bogeys <p-sortIcon field="num_double_bogeys" />
        </th>
        <th pSortableColumn="num_others">Others <p-sortIcon field="num_others" /></th>
      </tr>
    </ng-template>
    <ng-template #body let-golfer>
      <tr [pSelectableRow]="golfer">
        <td class="text-gray-800">{{ golfer.golfer_name }}</td>
        <td class="text-gray-800">{{ golfer.num_matches }}</td>
        <td class="text-gray-800">{{ golfer.points_won | number: '1.1-1' }}</td>
        <td class="text-gray-800">{{ golfer.avg_points_won | number: '1.2-2' }}</td>
        <td class="text-gray-800">{{ golfer.avg_gross | number: '1.2-2' }}</td>
        <td class="text-gray-800">{{ golfer.avg_gross_to_par | number: '1.2-2' }}</td>
        <td class="text-gray-800">{{ golfer.avg_net | number: '1.2-2' }}</td>
        <td class="text-gray-800">{{ golfer.avg_net_to_par | number: '1.2-2' }}</td>
        <td class="text-gray-800">{{ golfer.num_holes }}</td>
        <td class="text-gray-800">{{ golfer.num_aces }}</td>
        <td class="text-gray-800">{{ golfer.num_albatrosses }}</td>
        <td class="text-gray-800">{{ golfer.num_eagles }}</td>
        <td class="text-gray-800">{{ golfer.num_birdies }}</td>
        <td class="text-gray-800">{{ golfer.num_pars }}</td>
        <td class="text-gray-800">{{ golfer.num_bogeys }}</td>
        <td class="text-gray-800">{{ golfer.num_double_bogeys }}</td>
        <td class="text-gray-800">{{ golfer.num_others }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
