.carouselContents {
  width: 500px;
  height: 150px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 2px 2px rgb(165, 165, 165);
}

.rightArrow {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  right: 16px;
  font-size: 45px;
  color: rgb(165, 165, 165);
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  left: 16px;
  font-size: 45px;
  color: rgb(165, 165, 165);
  z-index: 1;
  cursor: pointer;
}

.carousel {
  position: relative;
  height: 100%;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot, .currentDot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(165, 165, 165);
}

.currentDot {
  color: rgb(120, 120, 120);
}
