mat-error:not(:first-child) {
  display: none;
}
.center {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
}

button {
  margin-left: 16px;
}
