.schedule-matrix-card {
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
}

.name {
  width: 64px;
}

.number {
  width: 28px;
  border-right: 1px solid black;
}

.week {
  width: 28px;
}
