<div class="content">
  <h1>League Rules</h1>

  <p>Last updated: March 31, 2022</p>

  <h2>Rules Committee</h2>

  <div class="card-container">
    <a
      class="card card-small selectable"
      href="mailto:{{ member.email }}"
      *ngFor="let member of rulesCommittee"
    >
      <span class="bold">{{ member.name }}</span>
      <span>{{ member.role | titlecase }}</span>
    </a>
  </div>

  <a class="card card-small selectable" href="mailto:{{ getCommitteeEmailList() }}">
    <span class="bold">Email Rules Committee</span>
  </a>

  <h2>Overview</h2>

  <p>League competition will be governed by the following hierarchy of rules:</p>

  <ol>
    <li>League-approved local course rules</li>
    <li>League-wide rules</li>
    <li>
      "Rules of Golf" as approved by the
      <a class="link-text" href="http://www.usga.org">United States Golf Association (USGA)</a>
    </li>
  </ol>

  <p>
    For clarification or interpretation of rules of play or points of ethics, where no formal
    protest is involved, consult a Rules Committee member.
  </p>

  <h2>Rule Disputes</h2>

  <p>
    In case of a dispute concerning either interpretation of the rules or a case not covered by the
    "Rules of Golf," a joint (or separate) signed statement(s) must be submitted to the Rules
    Committee immediately following the disputed match. Intention to protest must be declared during
    the hole in dispute and must be noted on the signed score card.
  </p>

  <h2>League-Approved Local Course Rules</h2>

  <h3>Drop Areas</h3>

  <p>In all cases, a one-stroke penalty is incurred when invoking a "drop area" rule.</p>

  <h4>Timbers at Troy</h4>

  <p>The course local rules designating drop areas on holes 4, 5, 7, 12, and 15 may be used.</p>
  <p>In addition, the Timbers flights will allow drop areas to be used on holes 3 and 14:</p>
  <ul>
    <li>
      On #3 the drop area will be in the rough short of the fairway, beyond the berm bordering the
      drainage pond.
    </li>
    <li>
      On #14 the drop area will be in front of the green no more than 2 club lengths from the line
      of unplayable rough short of the green.
    </li>
  </ul>
  <p>
    In both cases, since no drop area will be marked, the drop area should be agreed to by your
    opponent using these guidelines and good sense.
  </p>

  <h4>Rattlewood</h4>

  <p>
    In addition to any course-designated drop areas, the Rattlewood flight(s) define a drop area for
    hole #6 and #10 such that if a ball is lost off the tee into the water, the forward most tee box
    may be used as a drop area.
  </p>

  <h4>Links at Challedon</h4>

  <p>
    In addition to any course-designated drop areas, the Challedon flight(s) define a drop area for
    hole #11 such that if a ball is lost off the tee into the water or “unmaintained” areas between
    teeing area and water, the forward most tee box may be used as a drop area.
  </p>

  <h2>League-wide Rules</h2>

  <p>
    The league-adopted rules do not deny the player any option explicitly granted by USGA. The
    following rules were primarily created in an effort to speed-up play.
  </p>

  <ol>
    <li>
      <p class="bold">Stroke Play vs Match Play & Concession of Putts</p>
      <p>
        During a match, the rules of stroke play (Medal play rather than Match play) shall prevail.
        However, as an exception to this, putts may be conceded at the option of the opposing team
        during matches.
      </p>
      <p>Note that this does NOT apply to tournaments where all putts must be holed out.</p>
    </li>

    <li>
      <p class="bold">"Winter Rules" Apply</p>
      <p>
        The player may improve the lie of his ball (lift, clean, and place) in his own fairway or
        around the fringe of the green by moving it no more than one club length from the original
        lie and not nearer the hole.
      </p>
      <p>Penalty for breach of rule: two strokes</p>
    </li>

    <li>
      <p class="bold">Putting Ball Substitution</p>
      <p>On any green, a player may substitute another ball for the ball in play.</p>
    </li>
    <li>
      <p class="bold">Environmental or Reforestation Areas</p>
      <p>
        If a player's ball lands, or is presumed to have landed, in a designated
        <span class="bold">environmentally-sensitive or reforestation area</span>, where access and
        play is disallowed, the player must treat his/her ball as being “Lost” or "Out of Bounds".
        The player must drop his/her ball outside the area along the line of flight between where
        the ball was originally struck and the point at which the ball entered the area.
      </p>
      <p>Refer to league-wide rule #5 (Ball Lost or Out of Bounds).</p>
    </li>

    <li>
      <p class="bold">Ball Lost or Out of Bounds</p>
      <p>
        If a ball is lost, or out of bounds (and no provisional ball was hit for it), the player
        may, under penalty of one stroke, drop a ball at any point along the path of his original
        ball. However, the ball shall not be dropped closer to the hole than the approximate area
        where the original ball was lost, or passed out of bounds. The ball, unless lost in a
        fairway, cannot be dropped in a fairway.
      </p>
      <p>
        If it is suspected that a ball is lost or out of bounds, a provisional ball may be played,
        by announcing to the other team your intentions and then dropping a ball at any point back
        along the path of the original ball (as described in the previous paragraph). If the
        original ball is found within a 3 minute search period and is in a position that is closer
        to the hole from where the provisional ball was played, the original ball must be played
        with no penalty and the provisional ball must be picked up. Once a provisional ball has been
        played from a point closer to the hole from where the original ball was found, the original
        ball is considered lost and the provisional ball must be kept in play.
      </p>
      <p>A one stroke penalty for a lost or out-of-bounds ball is assessed.</p>
    </li>

    <li>
      <p class="bold">Use of Distance Measuring Devices</p>
      <p>
        A player may, during league matches, obtain distance information by using a device that
        measures distance only. However, if, during a stipulated round, a player uses a
        distance-measuring device that is designed to also gauge or measure other conditions that
        might affect his play (e.g., gradient, wind-speed, temperature, etc.), the player is in
        breach of the USGA Rules applying to Artificial Devices and Unusual Equipment, regardless of
        whether any such additional functions are actually used.
      </p>
      <p>
        As a potential exception to the USGA Rule that addresses Advice, for this case a player may
        request of or provide to members of the opposing team distance measurement results from such
        devices during the round. However, there is no obligation to do so.
      </p>
      <p>Penalty for breach of rule: two strokes</p>
    </li>

    <li>
      <p class="bold">Allowance for Practice on Same Day/Course as Competition</p>
      <p>
        A player may practice on the same day and course as a competition for regular matches and
        playoffs based on the Match Play nature of these matches. In addition, a player or team may
        practice on the same day and course as an APL Tournament PROVIDED all players in the
        tournament begin play at the same time (e.g. a Shot-Gun Start). For any tournament for which
        there are starting times assigned, practice on the same day and course as said tournament is
        prohibited.
      </p>
      <p>Penalty for breach of rule: disqualification from any awards from said tournament</p>
    </li>

    <li>
      <p class="bold">Relief from Poorly-Maintained Bunkers</p>
      <p>
        ue to the poor condition of many of the bunkers on some ofour courses, and to avoid
        equipment damage and injury, relief can be gotten from obstructions in bunkers without
        incurring a penalty. This local APL rule provides some additions to the definitions of
        obstructions and the spirit of Rule 25-1.b.ii.
      </p>
      <p>
        Obstructions to which this rule applies are rocks, sand washouts, bare areas of sand traps,
        and any other condition unintended by course design and caused by lack of proper
        maintenance. If there is evidence or suspicion of obstruction that may be struck in the act
        of playing from a bunker you should inform your opponent of your desire to proceed according
        to this rule and then proceed according the following steps until relief is obtained.
      </p>
      <ol>
        <li>Remove obstructions without disturbing your current lie.</li>
        <li>
          Pick your ball up, clear and rake the location if necessary and replace your ball in that
          location recreating your original lie.
        </li>
        <li>
          Recreate the type of lie that you had at the nearest point of relief in the trap no closer
          to the hole, removing obstructions there if it is possible to do so versus the original
          position.
        </li>
        <li>
          Recreate your lie in another portion of the trap without regard to being closer to the
          hole if that is not possibleIf the player chooses to drop outside the bunker no closer to
          the hole then they must do so keeping the original ball position between them and the hole
          and incur a one stroke penalty.
        </li>
      </ol>
    </li>

    <li>
      <p class="bold">Maximum Score Per Hole</p>
      <p>A player's maximum gross score on a hole is double par plus handicap strokes.</p>
    </li>
  </ol>
</div>
