<table class="styled-table">
  <tbody>
    <tr class="score">
      <td class="label">+/-</td>
      <td class="hole border-sides" *ngFor="let score of [1, 2, 3, 4, 5, 6, 7, 8, 9]; let holeIdx = index">
        <div
          *ngIf="editMode"
          [ngClass]="{
            'arrow-up':
              topTeamRound.holes[holeIdx].gross_score - topTeamRound.holes[holeIdx].handicap_strokes <
              bottomTeamRound.holes[holeIdx].gross_score - bottomTeamRound.holes[holeIdx].handicap_strokes,
            'arrow-down':
              topTeamRound.holes[holeIdx].gross_score - topTeamRound.holes[holeIdx].handicap_strokes >
              bottomTeamRound.holes[holeIdx].gross_score - bottomTeamRound.holes[holeIdx].handicap_strokes,
            dash:
              topTeamRound.holes[holeIdx].gross_score - topTeamRound.holes[holeIdx].handicap_strokes ===
              bottomTeamRound.holes[holeIdx].gross_score - bottomTeamRound.holes[holeIdx].handicap_strokes,
          }"
        ></div>
      </td>
      <td class="total">
        <ng-container *ngIf="getNetScoreDifference() !== 0; else tie">
          <div class="total-score">
            <div
              *ngIf="editMode"
              [ngClass]="{
                'arrow-up': getNetScoreDifference() < 0,
                'arrow-down': getNetScoreDifference() > 0,
              }"
            ></div>
            <div
              *ngIf="editMode"
              [ngClass]="{
                'arrow-up': getNetScoreDifference() < 0,
                'arrow-down': getNetScoreDifference() > 0,
              }"
            ></div>
          </div>
        </ng-container>
        <ng-template #tie>
          <div class="total-score">
            <div *ngIf="editMode" class="arrow-up"></div>
            <div *ngIf="editMode" class="arrow-down"></div>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
