<div tuiAppearance="floating" tuiCardLarge>
  <header tuiHeader>
    <h1 tuiTitle>
      Title
      <span tuiSubtitle>Subtitle</span>
    </h1>
  </header>

  <section>
    <div *tuiRepeatTimes="let index of 3" tuiAppearance="neutral" tuiCardMedium>
      <tui-icon icon="@tui.square-plus" class="plus" />

      <h2 tuiTitle>
        Title
        <span tuiSubtitle>Subtitle</span>
      </h2>
    </div>
  </section>

  <footer>
    <button appearance="secondary" size="m" tuiButton type="button">Label</button>
  </footer>
</div>

<div tuiAppearance="floating" tuiCardLarge>
  <tui-axes class="axes" axisYName="Handicap Index" [horizontalLines]="2" [verticalLines]="4">
    <tui-line-chart
      [filled]="true"
      [height]="200"
      [smoothingFactor]="50"
      [tuiHintContent]="hint"
      [dots]="true"
      [value]="value"
      [width]="400"
      [x]="0"
      [y]="0"
    />
  </tui-axes>

  <ng-template #hintContent let-index="index" let-value>
    <div>Vertical: {{ value[0] }}</div>
    <div>Horizontal: {{ value[1] }}</div>
    <div>index: {{ index }}</div>
  </ng-template>
</div>
