section {
  display: flex;
  gap: 0.75rem;
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
  overflow: scroll;
}

.plus {
  background: var(--tui-background-accent-1);
  border-radius: 0.25rem;
  color: #fff;
}

.axes {
  block-size: 12.5rem;
  inline-size: 25rem;
  color: #bc71c9;
}

[tuiTh],
[tuiTd] {
  border-inline-start: none;
  border-inline-end: none;
}

[tuiTable][data-size='s'] [tuiTitle] {
  flex-direction: row;
  gap: 0.375rem;
}
