mat-form-field:not(:first-of-type) {
  margin-left: 16px;
}

button {
  margin-left: 16px;
}

mat-error:not(:first-child) {
  display: none;
}

.center {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.short-field {
  width: 125px;
}

.long-field {
  width: 200px;
}
