<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="content" *ngIf="!isLoading">
  <img src="assets/{{ tournament.logo_url }}" alt="{{ tournament.name }}" height="100" *ngIf="tournament.logo_url">

  <h1>{{ tournament.name }} ({{ tournament.year }})</h1>

  <div class="card announcements-card card-small" *ngIf="tournament.signup_stop_date >= currentDate">
    <span class="bold">Sign-Ups</span>
    <span>{{ tournament.signup_start_date | date:'longDate' }} - {{ tournament.signup_stop_date | date:'longDate' }}</span>
  </div>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Date</span>
      <span>{{ tournament.date | date:'mediumDate'}} {{ tournament.date | date:'shortTime'}}</span>
    </div>

    <div class="card card-small">
      <span class="bold">Course</span>
      <span>{{ tournament.course }}</span>
    </div>

    <a class="card card-small selectable" href="mailto:{{ tournament.secretary_contact }}" *ngIf="tournament.secretary">
      <span class="bold">Tournament Secretary</span>
      <span>{{ tournament.secretary }}</span>
    </a>
  </div>

  <div class="card-container division-list">
    <div class="card division-card" *ngFor="let division of tournament.divisions">
      <span class="bold">{{ division.name }} - {{ division.primary_tee_name }}</span>
      <span>{{ division.primary_track_name }}: {{ division.primary_tee_par }} ({{ division.primary_tee_rating }}/{{ division.primary_tee_slope }})</span>
      <span>{{ division.secondary_track_name }}: {{ division.secondary_tee_par }} ({{ division.secondary_tee_rating }}/{{ division.secondary_tee_slope }})</span>
    </div>
  </div>

  <h2>Standings</h2>

  <div *ngIf="tournament.date > currentDate; else notPlayedYet">
    <app-tournament-standings [teamData]="tournament.teams"></app-tournament-standings>
  </div>

  <ng-template #notPlayedYet>
    <p class="italic">Available after the tournament has been played</p>
  </ng-template>

  <h2>Teams</h2>

  <div *ngIf="tournament.teams.length > 0; else noTeams">
    <p class="italic" *ngIf="!showScorecard">Select a team to view scorecards</p>

    <div class="full-width" *ngIf="showScorecard">
      <app-tournament-scorecard [rounds]="focusedTeam.rounds" *ngIf="focusedTeam.rounds && focusedTeam.rounds.length > 0; else noRounds"></app-tournament-scorecard>

      <ng-template #noRounds>
        <p class="no-rounds-warning">No round data for team {{ focusedTeam.name }}</p>
      </ng-template>
    </div>

    <div class="card-container">
      <div class="card team-card selectable" *ngFor="let team of tournament.teams" (click)="focusTeam(team)" [ngClass]="showScorecard && focusedTeam === team ? 'selected' : ''">
        <span class="bold">{{ team.name }}</span>
        <span *ngFor="let golfer of team.golfers">{{ golfer.golfer_name }} - {{ golfer.division_name }}</span>
      </div>
    </div>
  </div>

  <ng-template #noTeams>
    <p class="italic">No teams have signed-up yet...</p>
  </ng-template>


  <!-- <h2>Statistics</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div> -->

</div>
