<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="content" *ngIf="!isLoading">
  <h1>{{ tournament.name }} ({{ tournament.year }})</h1>

  <div class="card-container">
    <a class="card card-small" *ngIf="tournament.secretary">
      <span class="bold">Tournament Secretary</span>
      <span>{{ tournament.secretary }}</span>
    </a>

    <div class="card card-small">
      <span class="bold">Course</span>
      <span>{{ tournament.course_name }}</span>
    </div>
  </div>
  
  <div class="card-container division-list">
    <div class="card division-card" *ngFor="let division of tournament.divisions">
      <span class="bold">{{ division.name }}</span>
      <span>Front: {{ division.primary_tee_rating }} / {{ division.primary_tee_slope }}</span>
      <span>Back: {{ division.secondary_tee_rating }} / {{ division.secondary_tee_slope }}</span>
    </div>
  </div>

  <h2>Standings</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div>

  <h2>Teams</h2>

  <div class="card-container team-list">
    <a class="card team-card" routerLink="team" [queryParams]="{ id: team.id }" *ngFor="let team of tournament.teams">
      <span class="bold">{{ team.name }}</span>
      <span *ngFor="let golfer of team.golfers">{{ golfer.name }}</span>
    </a>
  </div>

  <h2>Statistics</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div>

</div>
