table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  margin: 10px;
}

table tr.hole,
table tr.par {
  height: 26px;
  background-color: rgb(140, 145, 165);
  color: white;
}

table tr.yards,
table tr.handicap {
  height: 13px;
  background-color: rgb(110, 115, 130);
  color: white;
  font-size: 10px;
}

table tr.yards td.rating {
  font-size: 14px;
}

table tr.handicap-strokes {
  margin: auto;
}

.black-dot {
  height: 4px;
  width: 4px;
  margin: auto;
  background-color: black;
  border-radius: 50%;
}

.red-dot {
  height: 4px;
  width: 4px;
  margin: auto;
  background-color: red;
  border-radius: 50%;
}

table tr.gross {
  height: 25px;
  background-color: rgb(255, 255, 255);
}

table tr.adjustedGross {
  height: 25px;
  background-color: rgb(240, 245, 255);
}

table tr.net {
  height: 25px;
  background-color: rgb(240, 245, 255);
}

table td {
  border-right: 1px solid rgb(0, 0, 0, 0.10);
  width: 30px;
}

table td.tee-set-info {
  width: 100px;
}

table td.bold {
  width: 40px;
  font-weight: bold;
  border-left: 1px solid rgb(0, 0, 0, 0.25);
  border-right: 1px solid rgb(0, 0, 0, 0.25);
}

.circle {
  border-radius: 50%;
  border: 1px solid black;
}

.square {
  border-radius: 0%;
  border: 1px solid black;
}

.crosshatch {
  background-image: linear-gradient(
      -45deg,
      rgba(0,0,0,0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(0,0,0,0.2) 50%,
      rgba(0,0,0,0.2) 75%,
      transparent 75%,
      transparent
  );
  background-size: 5px 5px;
}
