<table *ngFor="let teeSet of teeSets">
  <tr class="hole">
    <td class="tee-set-info" style.color="hexToRGBA({{ teeSet.color }}, 1)">Tee Set: {{ teeSet.name }}</td>
    <td class="bold">Hole</td>
    <td *ngFor="let hole of teeSet.holes">{{ hole.number }}</td>
    <td class="bold">TOT</td>
  </tr>
  <tr class="par">
    <td class="tee-set-info" style.color="#{{ teeSet.color }}">Gender: {{ teeSet.gender }}</td>
    <td class="bold">Par</td>
    <td *ngFor="let hole of teeSet.holes">{{ hole.par }}</td>
    <td class="bold">{{ computeTeeSetPar(teeSet) }}</td>
  </tr>
  <tr class="yards">
    <td class="tee-set-info" style.color="#{{ teeSet.color }}">Rating: {{ teeSet.rating }}</td>
    <td class="bold">Yards</td>
    <td *ngFor="let hole of teeSet.holes">{{ hole.yardage }}</td>
    <td class="bold">{{ computeTeeSetYardage(teeSet) }}</td>
  </tr>
  <tr class="handicap">
    <td class="tee-set-info" style.color="#{{ teeSet.color }}">Slope: {{ teeSet.slope }}</td>
    <td class="bold">Hcp</td>
    <td *ngFor="let hole of teeSet.holes">{{ hole.handicap }}</td>
    <td class="bold">--</td>
  </tr>
</table>
