<div class="flex flex-col xl:flex-row flex-0 justify-center gap-4 p-4">
  <p-card>
    <div class="flex flex-1 flex-col px-4 py-4">
      <span class="text-2xl font-semibold">Tournament Sign-Ups</span>
    </div>

    <div class="flex flex-2 flex-col items-center pt-4" *ngIf="isLoading">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>

    <p-dataview #dv [value]="tournaments" *ngIf="!isLoading">
      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-0 grid-nogutter p-4">
          <div
            class="col-span-12"
            [ngClass]="{ listItem: isSignupOpen(item) || this.currentUser?.is_admin }"
            *ngFor="let item of items; let first = first"
          >
            <div
              class="flex flex-col sm:flex-row sm:items-center p-2 gap-4"
              [ngClass]="{ 'border-t border-gray-300': !first }"
              (click)="selectTournament(item)"
              (keyup)="selectTournament(item)"
              aria-hidden="true"
            >
              <div class="md:w-20 relative ml-4">
                <img
                  class="block xl:block mx-auto rounded-border"
                  [src]="'assets/' + item.logo_url"
                  [alt]="item.name"
                  width="75px"
                />
              </div>
              <div
                class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6 ml-4"
              >
                <div class="flex flex-row md:flex-col justify-center items-start gap-2">
                  <div>
                    <div class="text-lg font-semibold text-gray-700 mt-1">
                      {{ item.name }} ({{ season.year }})
                    </div>
                    <div class="hidden md:block font-medium text-gray-600 text-sm">
                      {{ item.course }}
                    </div>
                    <div class="hidden lg:block text-sm font-medium text-gray-600">
                      {{ item.date | date: 'longDate' : 'ET' }}
                    </div>
                    <div class="hidden lg:block text-sm font-medium text-gray-600">
                      Sign-ups: {{ item.signup_start_date | date: 'shortDate' : 'ET' }} -
                      {{ item.signup_stop_date | date: 'shortDate' : 'ET' }}
                    </div>
                  </div>
                </div>
              </div>
              <p-tag
                class="flex flex-col gap-0 text-sm text-center px-2 py-1 bg-blue-400"
                *ngIf="getDaysUntilSignupStart(item) > 0"
              >
                <div>Opens:</div>
                <p *ngIf="getDaysUntilSignupStart(item) > 1">
                  {{ getDaysUntilSignupStart(item) }} days
                </p>
                <p *ngIf="getDaysUntilSignupStart(item) === 1">tomorrow!</p>
              </p-tag>
              <p-tag
                class="text-sm text-center pl-1 py-1 bg-green-500"
                *ngIf="isSignupOpen(item) && getDaysUntilSignupStop(item) > 2"
                >Open</p-tag
              >
              <p-tag
                class="flex flex-col gap-0 text-sm text-center px-2 py-1 bg-orange-400"
                *ngIf="isSignupOpen(item) && getDaysUntilSignupStop(item) <= 2"
              >
                <p>Closes:</p>
                <p *ngIf="getDaysUntilSignupStop(item) === 2">tomorrow!</p>
                <p *ngIf="getDaysUntilSignupStop(item) === 1">today!</p>
              </p-tag>
              <p-tag
                class="text-sm text-center pl-1 py-1 bg-red-400"
                *ngIf="getDaysUntilSignupStop(item) <= 0"
                >Closed</p-tag
              >
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataview>
  </p-card>

  <div
    class="flex flex-col lg:flex-row flex-stretch justify-center gap-4"
    *ngIf="selectedTournament"
  >
    <div class="flex flex-col flex-stretch gap-4">
      <app-tournament-info [info]="selectedTournament" />
      <app-tournament-teams
        [teams]="selectedTournamentTeams"
        [linkGolferHome]="false"
        [teamMultiSelect]="false"
        (teamSelected)="handleTeamSelectionChange($event)"
        *ngIf="selectedTournamentTeams"
      />
    </div>

    <div class="flex flex-col flex-stretch gap-4">
      <app-tournament-divisions
        class="hidden lg:block"
        [divisions]="selectedTournamentDivisions"
        *ngIf="selectedTournamentDivisions"
      />
      <app-tournament-team-create
        [allowDelete]="isUserAdmin()"
        [golferOptions]="golfers"
        [tournamentId]="selectedTournament.id"
        [divisionOptions]="selectedTournamentDivisions"
        [initialTeam]="selectedTeam"
        (refreshTeamsForTournament)="refreshSelectedTournamentTeams($event)"
        *ngIf="selectedTournamentDivisions && golfers"
      />
      <!-- <app-free-agents-signup
        [allowDelete]="isUserAdmin()"
        [freeAgents]="selectedTournamentFreeAgents"
        [golferOptions]="golfers"
        [tournamentId]="selectedTournament.id"
        [divisionOptions]="selectedTournamentDivisions"
        (refreshTeamsForTournament)="refreshSelectedTournamentTeams($event)"
        *ngIf="selectedTournamentFreeAgents && selectedTournamentDivisions && golfers"
      /> -->
    </div>
  </div>
</div>
