<div class="grid grid-cols-12 gap-8">
  <p-card class="card col-span-6">
    <ng-template #title>
      <span>Flights</span>
    </ng-template>

    <div class="grid grid-cols-3">
      <p-card
        class="card selectable col-span-1"
        routerLink="/flight"
        [queryParams]="{ id: flight.id }"
        *ngFor="let flight of currentFlights"
      >
        <ng-template #header>
          <div class="centered">
            <p-image
              class="header-image"
              src="assets/{{ flight.logo_url }}"
              alt="{{ flight.name }}"
              *ngIf="flight.logo_url"
            />
          </div>
        </ng-template>
        <ng-template #title>
          <span>{{ flight.name }} ({{ flight.year }})</span>
        </ng-template>
        <ng-template #subtitle>
          <span>{{ flight.course }}</span>
        </ng-template>
      </p-card>
    </div>

    <ng-template #footer>
      <div class="my-4">
        <p-button label="Historical Flights" routerLink="/flight/history" />
        <a class="p-button" href="mailto:{{ getCurrentFlightSecretariesEmailList() }}">
          Contact Flight Secretaries
        </a>
      </div>
    </ng-template>

    <mat-spinner *ngIf="isLoadingFlights"></mat-spinner>

    <div class="card-container" *ngIf="!isLoadingFlights"></div>

    <div class="py-4"></div>
  </p-card>

  <span class="section-header">Tournaments</span>

  <mat-spinner *ngIf="isLoadingTournaments"></mat-spinner>

  <div class="card-container" *ngIf="!isLoadingTournaments">
    <a
      class="card selectable"
      routerLink="/tournament"
      [queryParams]="{ id: tournament.id }"
      *ngFor="let tournament of currentTournaments"
    >
      <div style="width: 70%; text-align: center">
        <div class="bold">
          <span>{{ tournament.name }} ({{ tournament.year }})</span>
        </div>
        <div>
          <span
            >{{ tournament.date | date: 'mediumDate' }}
            {{ tournament.date | date: 'shortTime' }}</span
          >
        </div>
        <div>
          <span>{{ tournament.course }}</span>
        </div>
      </div>

      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>

  <div class="py-4">
    <p-button label="Historical Tournaments" routerLink="/tournament/history" />
    <a class="p-button" href="mailto:{{ getCurrentTournamentOrganizersEmailList() }}">
      Contact Organizers
    </a>
  </div>

  <span class="section-header">Officers</span>

  <mat-spinner *ngIf="isLoadingOfficers"></mat-spinner>

  <div class="card-container" *ngIf="!isLoadingOfficers">
    <a
      class="card card-small selectable"
      href="mailto:{{ officer.email }}"
      *ngFor="let officer of leagueOfficers"
    >
      <span class="bold">{{ officer.role }}</span>
      <span>{{ officer.name }}</span>
    </a>
  </div>

  <div class="py-4">
    <a class="p-button" href="mailto:{{ getLeagueOfficersEmailList() }}">
      Contact League Officers
    </a>
  </div>
</div>
