<div class="grid grid-cols-12 gap-8">
  <p-card class="col-span-6 m-4">
    <ng-template #title>
      <span>Flights</span>
    </ng-template>

    <mat-spinner *ngIf="isLoadingFlights"></mat-spinner>

    <div class="grid grid-cols-3 gap-4 mx-4">
      <p-card
        class="selectable col-span-1"
        routerLink="/flight"
        [queryParams]="{ id: flight.id }"
        *ngFor="let flight of currentFlights"
      >
        <ng-template #header>
          <div class="centered">
            <p-image
              class="header-image"
              src="assets/{{ flight.logo_url }}"
              alt="{{ flight.name }}"
              *ngIf="flight.logo_url"
            />
          </div>
        </ng-template>
        <ng-template #title>
          <span>{{ flight.name }} ({{ flight.year }})</span>
        </ng-template>
        <ng-template #subtitle>
          <span>{{ flight.course }}</span>
        </ng-template>
      </p-card>
    </div>

    <ng-template #footer>
      <div class="my-4">
        <p-button label="Historical Flights" routerLink="/flight/history" />
        <a class="p-button" href="mailto:{{ getCurrentFlightSecretariesEmailList() }}">
          Contact Flight Secretaries
        </a>
      </div>
    </ng-template>
  </p-card>

  <p-card class="col-span-6 m-4">
    <ng-template #title>
      <span>Tournaments</span>
    </ng-template>

    <mat-spinner *ngIf="isLoadingTournaments"></mat-spinner>

    <div class="grid grid-cols-3 gap-4 mx-4">
      <p-card
        class="selectable col-span-1"
        routerLink="/tournament"
        [queryParams]="{ id: tournament.id }"
        *ngFor="let tournament of currentTournaments"
      >
        <ng-template #header>
          <div class="centered">
            <p-image
              class="header-image"
              src="assets/{{ tournament.logo_url }}"
              alt="{{ tournament.name }}"
              *ngIf="tournament.logo_url"
            />
          </div>
        </ng-template>

        <ng-template #title>
          <span>{{ tournament.name }} ({{ tournament.year }})</span>
        </ng-template>

        <ng-template #subtitle>
          <span>{{ tournament.course }}</span>
        </ng-template>

        <ng-template #footer>
          <span>
            {{ tournament.date | date: 'mediumDate' }}
            {{ tournament.date | date: 'shortTime' }}
          </span>
        </ng-template>
      </p-card>
    </div>

    <ng-template #footer>
      <div class="my-4">
        <p-button label="Historical Tournaments" routerLink="/tournament/history" />
        <a class="p-button" href="mailto:{{ getCurrentTournamentOrganizersEmailList() }}">
          Contact Organizers
        </a>
      </div>
    </ng-template>
  </p-card>

  <p-card class="col-span-6 m-4">
    <ng-template #title>
      <span>Officers</span>
    </ng-template>

    <mat-spinner *ngIf="isLoadingOfficers"></mat-spinner>

    <div class="grid grid-cols-3 gap-4 mx-4">
      <a
        class="p-button col-span-1"
        href="mailto:{{ officer.email }}"
        *ngFor="let officer of leagueOfficers"
      >
        <div class="bold">{{ officer.role }}</div>
        <div>{{ officer.name }}</div>
      </a>
    </div>

    <ng-template #footer>
      <div class="my-4">
        <a class="p-button" href="mailto:{{ getLeagueOfficersEmailList() }}">
          Contact League Officers
        </a>
      </div>
    </ng-template>
  </p-card>
</div>
