<mat-accordion multi="true" *ngIf="courses.length > 0">
  <mat-expansion-panel *ngFor="let course of courses">
    <mat-expansion-panel-header>
      <mat-panel-title class="course-name">{{ course.name }}</mat-panel-title>
      <mat-panel-description *ngFor="let track of course.tracks">
        <span class="course-details" >{{ course.city }}, {{ course.state }} {{ course.zipCode }}</span>
        <span class="course-details" *ngIf="course.phone">{{ course.phone }}</span>
        <span class="course-details" *ngIf="course.website">{{ course.website }}</span>
        <span class="course-details" *ngIf="course.dateUpdated">(Updated: {{ course.dateUpdated }})</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-expansion-panel multi="true" *ngFor="let track of course.tracks">
        <mat-expansion-panel-header>
          <mat-panel-title class="course-name">{{ track.name }} ({{ course.abbreviation }}-{{ track.abbreviation }})</mat-panel-title>
          <mat-panel-description>
            <span class="course-details" *ngFor="let teeSet of track.teeSets">
              {{ teeSet.name }} ({{ teeSet.gender }}): {{ teeSet.rating }}/{{ teeSet.slope }}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let teeSet of track.teeSets">
          <!-- <p>{{ teeSet.name }} ({{ teeSet.gender }}): {{ teeSet.rating }}/{{ teeSet.slope }}</p> -->
          <app-scorecard [teeSet]="teeSet"></app-scorecard>
        </div>
      </mat-expansion-panel>
    </div>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="">EDIT</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalCourses" [pageSize]="coursesPerPage" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
