:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.course-name {
  font-weight: bold;
}

.course-details {
  padding-left: 1rem;
}
