<div class="content">
  <div>
    <mat-form-field class="filter-field">
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter" />
    </mat-form-field>

    <mat-checkbox style="margin-left: 16px" (change)="onShowInactiveCoursesChange($event)"
      >Show Inactive Courses</mat-checkbox
    >
  </div>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="content" *ngIf="courses.data.length > 0 && !isLoading">
  <table mat-table [dataSource]="courses" multiTemplateDataRows matSort matSortStart="asc">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let course">
        <a mat-icon-button color="primary" [title]="course.website" *ngIf="column === 'website'">
          <mat-icon class="mat-18">language</mat-icon>
        </a>
        <div *ngIf="column !== 'website'">
          {{ course[column] }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedCourseDetail">
      <td mat-cell *matCellDef="let course" [attr.colspan]="columnsToDisplay.length">
        <div
          class="course-detail"
          [@detailExpand]="course == expandedCourse ? 'expanded' : 'collapsed'"
        >
          <div *ngFor="let track of course.tracks">
            <span class="track-name">{{ track.name }}</span>
            <app-course-scorecard [tees]="track.tees"></app-course-scorecard>
          </div>
          <mat-action-row>
            <a routerLink="edit/" [queryParams]="{ id: course.id }"
              ><button mat-raised-button color="accent">Edit</button></a
            >
          </mat-action-row>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let course; columns: columnsToDisplay"
      class="course-row"
      [class.course-expanded-row]="expandedCourse === course"
      (click)="expandedCourse = expandedCourse === course ? null : course"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedCourseDetail']"
      class="course-detail-row"
    ></tr>
  </table>

  <mat-paginator
    [length]="totalCourses"
    [pageSize]="coursesPerPage"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>
