<div class="card-container division-list">
  <div
    class="card division-card selectable"
    [ngClass]="showScorecard && division === selectedDivision ? 'selected' : ''"
    *ngFor="let division of divisions"
    (click)="onSelectDivision(division)"
    (keydown)="onSelectDivision(division)"
  >
    <span class="bold"
      >{{ division.name }} - {{ division.primary_tee_name }} ({{
        division.gender | slice: 0 : 1
      }})</span
    >
    <span
      >{{ division.primary_track_name }}: Par {{ division.primary_tee_par }} ({{
        division.primary_tee_rating | number: '1.2-2'
      }}/{{ division.primary_tee_slope }})</span
    >
    <span
      >{{ division.secondary_track_name }}: Par {{ division.secondary_tee_par }} ({{
        division.secondary_tee_rating | number: '1.2-2'
      }}/{{ division.secondary_tee_slope }})</span
    >
  </div>
</div>

<div class="scorecard full-width" *ngIf="showScorecard && selectedDivision && !isLoading">
  <app-scorecard-hole-line
    [holes]="selectedPrimaryTee.holes"
    [showScoreModeButtons]="false"
  ></app-scorecard-hole-line>
  <app-scorecard-tee-info
    [holes]="selectedPrimaryTee.holes"
    [showDetails]="true"
  ></app-scorecard-tee-info>

  <app-scorecard-hole-line
    [holes]="selectedSecondaryTee.holes"
    [showScoreModeButtons]="false"
  ></app-scorecard-hole-line>
  <app-scorecard-tee-info
    [holes]="selectedSecondaryTee.holes"
    [showDetails]="true"
  ></app-scorecard-tee-info>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>
