<p-card>
  <div class="flex flex-col sm:flex-row sm:items-center px-4 pt-4">
    <span class="text-2xl font-semibold">Divisions</span>
  </div>

  <p-table #dt [value]="divisions" dataKey="id" stripedRows>
    <ng-template #header>
      <tr>
        <th class="text-center">Name</th>
        <th>Tee</th>
        <th>Track</th>
        <th>Par</th>
        <th>Rating</th>
        <th>Slope</th>
      </tr>
    </ng-template>
    <ng-template #body let-division>
      <tr>
        <td rowspan="2" class="text-gray-800 text-center">
          {{ division.name }} ({{ division.gender[0] }})
        </td>
        <td rowspan="2" class="text-gray-800">{{ division.primary_tee_name }}</td>
        <td class="text-gray-800">{{ division.primary_track_name }}</td>
        <td class="text-gray-800">{{ division.primary_tee_par | number: '1.0-0' }}</td>
        <td class="text-gray-800">{{ division.primary_tee_rating | number: '1.1-1' }}</td>
        <td class="text-gray-800">{{ division.primary_tee_slope | number: '1.0-0' }}</td>
      </tr>
      <tr>
        <td class="text-gray-800">{{ division.secondary_track_name }}</td>
        <td class="text-gray-800">{{ division.secondary_tee_par | number: '1.0-0' }}</td>
        <td class="text-gray-800">{{ division.secondary_tee_rating | number: '1.1-1' }}</td>
        <td class="text-gray-800">{{ division.secondary_tee_slope | number: '1.0-0' }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
