<mat-action-row>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onScoreModeChanged($event.value)">
    <mat-button-toggle value="gross" checked="true">Gross</mat-button-toggle>
    <mat-button-toggle value="adjusted gross">Adj Gross</mat-button-toggle>
    <mat-button-toggle value="net">Net</mat-button-toggle>
  </mat-button-toggle-group>
</mat-action-row>

<app-scorecard-tee-info [holes]="match.rounds[0].holes"></app-scorecard-tee-info>
<app-scorecard-score-line [round]="round" *ngFor="let round of match.rounds"></app-scorecard-score-line>
<!-- <table class="styled-table">
    <tbody>
        <tr class="score" *ngFor="let round of match.rounds; let roundIdx = index">
            <td class="label">{{ round.golfer_name | titlecase }}</td>
            <td class="hole" *ngFor="let holeScore of holeScores[roundIdx]; let holeIdx = index">
                <div class="handicap-strokes" [ngClass]="{'red-dot' : round.holes[holeIdx].handicap_strokes < 0, 'black-dot' : round.holes[holeIdx].handicap_strokes > 0}"></div>
                <div class="hole-score">
                <div [ngClass]="{'circle' : holeRelativeScores[roundIdx][holeIdx] < 0, 'square' : holeRelativeScores[roundIdx][holeIdx] > 0, 'crosshatch' : (holeRelativeScores[roundIdx][holeIdx] > 1) || (holeRelativeScores[roundIdx][holeIdx] < -1)}">
                    {{ holeScore }}
                </div>
                </div>
            </td>
            <td class="total">{{ roundScore[roundIdx] }} ({{ getRelativeScoreString(roundScore[roundIdx], round.tee_par) }})</td>
        </tr>
    </tbody>
</table> -->
