<div class="scorecard">
  <mat-action-row>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onScoreModeChanged($event.value)">
      <mat-button-toggle value="gross" checked="true">Gross</mat-button-toggle>
      <mat-button-toggle value="adjusted gross">Adj Gross</mat-button-toggle>
      <mat-button-toggle value="net">Net</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-action-row>
  <app-scorecard-title-line [rounds]="match.rounds" [(selectedTeeRoundIdx)]="roundIdx"></app-scorecard-title-line>
  <app-scorecard-hole-line [holeResultData]="match.rounds[roundIdx].holes"></app-scorecard-hole-line>
  <app-scorecard-tee-info [holeResultData]="match.rounds[roundIdx].holes" [showDetails]="true"></app-scorecard-tee-info>
  <ng-container *ngFor="let round of match.rounds">
    <app-scorecard-score-line [round]="round" [scoreMode]="scoreMode" *ngIf="round.team_id === match.home_team_id"></app-scorecard-score-line>
  </ng-container>
  <app-match-scorecard-score-line [match]="match" [homeTeamId]="match.home_team_id" [awayTeamId]="match.away_team_id"></app-match-scorecard-score-line>
  <ng-container *ngFor="let round of match.rounds">
    <app-scorecard-score-line [round]="round" [scoreMode]="scoreMode" *ngIf="round.team_id === match.away_team_id"></app-scorecard-score-line>
  </ng-container>
</div>
