<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/auth/login" *ngIf="!isAuthenticated">
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </button>
    <!-- <button mat-menu-item routerLink="/auth/user" *ngIf="isAuthenticated">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button> -->
    <button mat-menu-item routerLink="/golfer/search">
      <mat-icon>person_search</mat-icon>
      <span>Golfer Search</span>
    </button>
    <!-- <button mat-menu-item>
      <mat-icon>golf_course</mat-icon>
      <span>Course Search</span>
    </button> -->
    <button mat-menu-item routerLink="/signup">
      <mat-icon>group_add</mat-icon>
      <span>Sign-Ups</span>
    </button>
    <button mat-menu-item (click)="onPayDues()">
      <mat-icon>attach_money</mat-icon>
      <span>Pay Dues</span>
    </button>
    <button mat-menu-item (click)="onPayEntryFees()">
      <mat-icon>attach_money</mat-icon>
      <span>Pay Entry Fees</span>
    </button>
    <button mat-menu-item routerLink="/flight/match/edit" *ngIf="isAuthenticated && currentUser?.edit_flights">
      <mat-icon>sports_golf</mat-icon>
      <span>Post Flight Scores</span>
    </button>
    <button mat-menu-item routerLink="/tournament/scores" *ngIf="isAuthenticated && currentUser?.edit_tournaments">
      <mat-icon>sports_golf</mat-icon>
      <span>Post Tournament Scores</span>
    </button>
    <button mat-menu-item (click)="onAddNewGolfer()" *ngIf="isAuthenticated && currentUser?.is_admin">
      <mat-icon>person_add</mat-icon>
      <span>Add Golfer</span>
    </button>
    <button mat-menu-item routerLink="/golfer/qualifying" *ngIf="isAuthenticated && currentUser?.is_admin">
      <mat-icon>sports_golf</mat-icon>
      <span>Post Qualifying Scores</span>
    </button>
    <button mat-menu-item (click)="onAddNewFlight()" *ngIf="isAuthenticated && currentUser?.is_admin">
      <mat-icon>golf_course</mat-icon>
      <span>Add Flight</span>
    </button>
    <button mat-menu-item (click)="onAddNewTournament()" *ngIf="isAuthenticated && currentUser?.is_admin">
      <mat-icon>golf_course</mat-icon>
      <span>Add Tournament</span>
    </button>
    <button mat-menu-item routerLink="/payments/dues" *ngIf="isAuthenticated && currentUser?.edit_payments">
      <mat-icon>attach_money</mat-icon>
      <span>League Dues Payments</span>
    </button>
    <!-- <button mat-menu-item routerLink="/payments/fees" *ngIf="isAuthenticated && currentUser?.edit_payments">
      <mat-icon>attach_money</mat-icon>
      <span>Entry Fee Payments</span>
    </button> -->
    <button mat-menu-item (click)="onLogout()" *ngIf="isAuthenticated">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <span class="title">
    <a routerLink="">APL Golf League</a>
  </span>

</mat-toolbar>
