<mat-toolbar color="primary">
    <span>
      <a routerLink="">APL Golf League</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="flights" routerLinkActive="mat-accent">Flights</a>
      </li>
      <li>
        <a mat-button routerLink="tournaments" routerLinkActive="mat-accent">Tournaments</a>
      </li>
      <li>
        <a mat-button routerLink="courses" routerLinkActive="mat-accent">Courses</a>
      </li>
      <li>
        <a mat-button routerLink="golfers" routerLinkActive="mat-accent">Golfers</a>
      </li>
      <li>
        <a mat-button routerLink="teams" routerLinkActive="mat-accent">Teams</a>
      </li>
      <li>
        <a mat-button routerLink="matches" routerLinkActive="mat-accent">Matches</a>
      </li>
      <li>
        <a mat-button routerLink="rounds" routerLinkActive="mat-accent">Rounds</a>
      </li>
    </ul>
</mat-toolbar>
