<mat-toolbar color="primary">
  <span class="title">
    <a routerLink="">APL Golf League</a>
  </span>

  <span class="spacer"></span>

  <ul>
    <li *ngIf="isAuthenticated && currentUser?.is_admin">
      <a mat-button routerLink="/golfer/qualifying" routerLinkActive="mat-accent">Qualifying</a>
    </li>
    <li *ngIf="isAuthenticated && currentUser?.edit_flights">
      <a mat-button routerLink="/flight/match/edit" routerLinkActive="mat-accent">Post Scores</a>
    </li>
    <li *ngIf="isAuthenticated && currentUser?.edit_payments">
      <a mat-button routerLink="/payments" routerLinkActive="mat-accent">Payments</a>
    </li>
    <li>
      <a mat-button routerLink="/tournament/signup" routerLinkActive="mat-accent">Tournament Sign-Ups</a>
    </li>
    <li>
      <a mat-button routerLink="/flight/signup" routerLinkActive="mat-accent">Flight Sign-Ups</a>
    </li>
    <li>
      <a mat-button routerLink="/golfer/search" routerLinkActive="mat-accent">Golfer Search</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="isAuthenticated">
      <a mat-button (click)="onLogout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
