<div class="content">
  @if (
    (!activeRounds || activeRounds.length === 0) &&
    (!pendingRounds || pendingRounds.length === 0)) {
    <p
      class="italic"
      >
      No scoring record data!
    </p>
  } @else {
    @if (pendingRounds && pendingRounds.length > 0) {
      <p class="italic">
        *Pending rounds do not contribute to active handicap index
      </p>
    }
    <div class="card scoring-record-card">
      <table>
        <tr>
          <th>Date</th>
          <th>Course</th>
          <th>Tees</th>
          <th>Par</th>
          <th>Rating</th>
          <th>Slope</th>
          <th>Hcp</th>
          <th>Gross</th>
          <th>Adj. Gross</th>
          <th>Diff.</th>
        </tr>
        @for (round of pendingRounds; track round; let idx = $index) {
          <tr class="pending-rounds">
            <td>*{{ round.date_played | date }}</td>
            <td>{{ round.course_name }} - {{ round.track_name }}</td>
            <td>{{ round.tee_name }}</td>
            <td>{{ round.tee_par | number: '1.0-0' }}</td>
            <td>{{ round.tee_rating | number: '1.2-2' }}</td>
            <td>{{ round.tee_slope | number: '1.0-0' }}</td>
            @if (round.golfer_playing_handicap || round.golfer_playing_handicap === 0) {
              <td>
                {{ round.golfer_playing_handicap | number: '1.0-0' }}
              </td>
            }
            @if (!round.golfer_playing_handicap && round.golfer_playing_handicap !== 0) {
              <td>--</td>
            }
            <td>{{ round.gross_score | number: '1.0-0' }}</td>
            <td>{{ round.adjusted_gross_score | number: '1.0-0' }}</td>
            <td class="bold">{{ round.score_differential | number: '1.1-1' }}*</td>
          </tr>
        }
        @for (round of activeRounds; track round; let idx = $index) {
          <tr>
            <td>{{ round.date_played | date }}</td>
            <td>{{ round.course_name }} - {{ round.track_name }}</td>
            <td>{{ round.tee_name }}</td>
            <td>{{ round.tee_par | number: '1.0-0' }}</td>
            <td>{{ round.tee_rating | number: '1.2-2' }}</td>
            <td>{{ round.tee_slope | number: '1.0-0' }}</td>
            <td>{{ round.golfer_playing_handicap | number: '1.0-0' }}</td>
            <td>{{ round.gross_score | number: '1.0-0' }}</td>
            <td>{{ round.adjusted_gross_score | number: '1.0-0' }}</td>
            <td class="bold">{{ round.score_differential | number: '1.1-1' }}</td>
          </tr>
        }
      </table>
    </div>
  }

</div>
