<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading" style="width: 90%; margin: 0% 5%; margin-top: 5px;">
    <div class="flex-row full-width justify-content-space-around">
        <div class="width-6 padding-10 frost-background border-solid-thin box-shadow">
            <h4>Team Schedule</h4>
            <app-team-schedule [team]="team"></app-team-schedule>
        </div>
        <div class="flex-column width-6 padding-left-10">
            <div class="padding-10 frost-background border-solid-thin box-shadow">
                <h4>Roster</h4>
                <app-team-roster [team]="team"></app-team-roster>
            </div>
            <div class="padding-10 margin-top-10 frost-background border-solid-thin box-shadow">
                <h4>Statistics</h4>
                <app-team-statistics [team]="team"></app-team-statistics>
            </div>
        </div>
    </div>
</div>
