<!-- TODO: && standings && matches -->
<div
  class="grid grid-cols-12 place-items-stretch gap-4 p-4"
  *ngIf="info && divisions && teams; else loading"
>
  <div class="col-span-1 bg-transparent"></div>
  <app-tournament-info class="col-span-3" [info]="info" *ngIf="info" />
  <div class="col-span-4 bg-transparent"></div>
  <!-- <app-tournament-standings class="col-span-4" [standings]="standings" *ngIf="standings" /> -->
  <app-tournament-divisions class="col-span-3" [divisions]="divisions" *ngIf="divisions" />
  <div class="col-span-1 bg-transparent"></div>

  <div class="col-span-1 bg-transparent"></div>
  <!-- <app-tournament-teams class="col-span-3" [teams]="teams" *ngIf="teams" />
  <app-tournament-statistics class="col-span-7" [statistics]="statistics" *ngIf="statistics" /> -->
  <div class="col-span-1 bg-transparent"></div>
</div>

<ng-template #loading>
  <div class="flex flex-col items-center w-full p-10">
    <p-progress-spinner
      strokeWidth="4"
      fill="transparent"
      animationDuration="2s"
      [style]="{ widthcs: '100px', height: '100px' }"
    />
  </div>
</ng-template>
