<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="content" *ngIf="!isLoading">
  <img src="assets/{{ flight.logo_url }}" alt="{{ flight.name }}" height="100" *ngIf="flight.logo_url">

  <h1>{{ flight.name }} ({{ flight.year }})</h1>

  <div class="card-container">
    <a class="card card-small selectable" *ngIf="flight.secretary">
      <span class="bold">Flight Secretary</span>
      <span>{{ flight.secretary }}</span>
    </a>

    <div class="card card-small" *ngIf="flight.course_name">
      <span class="bold">Course</span>
      <span>{{ flight.course_name }}</span>
    </div>
  </div>

  <div class="card-container division-list">
    <div class="card division-card" *ngFor="let division of flight.divisions">
      <span class="bold">{{ division.name }} - {{ division.primary_tee_name }}</span>
      <span>{{ division.primary_track_name }}: {{ division.primary_tee_par }} ({{ division.primary_tee_rating }}/{{ division.primary_tee_slope }})</span>
      <span>{{ division.secondary_track_name }}: {{ division.secondary_tee_par }} ({{ division.secondary_tee_rating }}/{{ division.secondary_tee_slope }})</span>
    </div>
  </div>

  <h2>Standings</h2>

  <app-flight-standings [flight]="flight"></app-flight-standings>

  <h2>Schedule</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div>

  <h2>Teams</h2>

  <div class="card-container team-list">
    <a class="card team-card selectable" routerLink="team" [queryParams]="{ id: team.id }" *ngFor="let team of flight.teams">
      <span class="bold">{{ team.name }}</span>
      <span *ngFor="let golfer of team.golfers">{{ golfer.name }}</span>
    </a>
  </div>

  <h2>Statistics</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div>

</div>
