<div class="card schedule-matrix-card">
  <table>
    <thead>
      <tr class="bold">
        <td colspan="2"></td>
        <td [attr.colspan]="flight.weeks">Weeks</td>
      </tr>
      <tr class="bold">
        <td class="name">Team Name</td>
        <td class="number">#</td>
        <td class="week" *ngFor="let week of weeks">{{ week }}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teamName of teamNames">
        <td class="name">{{ teamName }}</td>
        <td class="number">{{ teamNumbers[teamName] }}</td>
        <td class="week" [ngClass]="week === currentWeek ? 'bold' : ''" *ngFor="let week of weeks">
          {{ teamOpponents[teamName][week-1] === "" ? "-" : teamOpponents[teamName][week-1] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
