<div class="scorecard">
  <app-scorecard-title-line [rounds]="rounds" [title]="getTournamentTitle()" [subtitle]="getTournamentSubtitle()" [(selectedTeeRoundIdx)]="roundIdx"></app-scorecard-title-line>

  <app-scorecard-hole-line [holeResultData]="frontRounds[roundIdx].holes" [(selectedScoreMode)]="scoreMode"></app-scorecard-hole-line>
  <app-scorecard-tee-info [holeResultData]="frontRounds[roundIdx].holes" [showDetails]="true"></app-scorecard-tee-info>
  <app-scorecard-score-line [round]="round" [scoreMode]="scoreMode" [title]="round.golfer_name" [subtitle]="getRoundSubtitle(round)" [linkToGolferHome]="true" *ngFor="let round of frontRounds"></app-scorecard-score-line>

  <app-scorecard-hole-line [holeResultData]="backRounds[roundIdx].holes" [showScoreModeButtons]="false"></app-scorecard-hole-line>
  <app-scorecard-tee-info [holeResultData]="backRounds[roundIdx].holes" [showDetails]="true"></app-scorecard-tee-info>
  <app-scorecard-score-line [round]="round" [scoreMode]="scoreMode" [title]="round.golfer_name" [subtitle]="getRoundSubtitle(round)" [linkToGolferHome]="true" *ngFor="let round of backRounds"></app-scorecard-score-line>
</div>
