<div class="scorecard">
  <mat-action-row>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onScoreModeChanged($event.value)">
      <mat-button-toggle value="gross" checked="true">Gross</mat-button-toggle>
      <mat-button-toggle value="adjusted gross">Adj Gross</mat-button-toggle>
      <mat-button-toggle value="net">Net</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-action-row>
  <app-scorecard-title-line [rounds]="rounds" [(selectedTeeRoundIdx)]="roundIdx"></app-scorecard-title-line>

  <app-scorecard-hole-line [holeResultData]="frontRounds[roundIdx].holes"></app-scorecard-hole-line>
  <app-scorecard-tee-info [holeResultData]="frontRounds[roundIdx].holes" [showDetails]="true"></app-scorecard-tee-info>
  <app-scorecard-score-line [round]="round" [scoreMode]="scoreMode" *ngFor="let round of frontRounds"></app-scorecard-score-line>

  <app-scorecard-hole-line [holeResultData]="backRounds[roundIdx].holes"></app-scorecard-hole-line>
  <app-scorecard-tee-info [holeResultData]="backRounds[roundIdx].holes" [showDetails]="true"></app-scorecard-tee-info>
  <app-scorecard-score-line [round]="round" [scoreMode]="scoreMode" *ngFor="let round of backRounds"></app-scorecard-score-line>
</div>
