<div class="p-4">
  <span class="text-2xl font-semibold">Register Golfer</span>

  <div class="flex flex-col flex-2 w-full items-center p-4 gap-4" [formGroup]="newGolferFormGroup">
    <p-floatlabel variant="on">
      <input pInputText id="name" formControlName="nameControl" autocomplete="off" />
      <label for="name">Name</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-select
        class="ring-1 ring-gray-200 bg-gray-50 rounded-md text-left h-8 w-full pl-2 py-1"
        id="affiliation"
        [options]="affiliationOptions"
        formControlName="affiliationControl"
      />
      <label for="affiliation">Affiliation</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText id="email" formControlName="emailControl" autocomplete="off" />
      <label for="email">Email</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText id="phone" formControlName="phoneControl" autocomplete="off" />
      <label for="phone">Phone (optional)</label>
    </p-floatlabel>
  </div>

  <div class="flex flex-row justify-around">
    <p-button class="font-semibold" (click)="onSubmit()">Submit</p-button>
    <p-button class="font-semibold" (click)="onCancel()">Cancel</p-button>
  </div>
</div>
