<table>
  <tr class="hole">
      <td class="bold">Hole</td>
      <td *ngFor="let hole of holes">{{ hole.number }}</td>
      <td class="bold">TOT</td>
  </tr>
  <tr class="par">
      <td class="bold">Par</td>
      <td *ngFor="let hole of holes">{{ hole.par }}</td>
      <td class="bold">{{ computeTotalPar() }}</td>
  </tr>
  <tr class="yards">
      <td class="bold">Yards</td>
      <td *ngFor="let hole of holes">{{ hole.yardage }}</td>
      <td class="bold">{{ computeTotalYardage() }}</td>
  </tr>
  <tr class="handicap">
      <td class="bold">Hcp</td>
      <td *ngFor="let hole of holes">{{ hole.handicap }}</td>
      <td class="bold">--</td>
  </tr>
  <tr class="handicap-strokes">
      <td class="bold"></td>
      <td *ngFor="let hole of holes">
        <div [ngClass]="{'red-dot' : hole.handicapStrokes < 0, 'black-dot' : hole.handicapStrokes > 0}"></div>
      </td>
      <td class="bold"></td>
  </tr>
  <tr class="gross">
      <td class="bold">Gross</td>
      <td *ngFor="let hole of holes">
        <div [ngClass]="{'circle' : hole.grossScore <= hole.par - 1, 'square' : hole.grossScore >= hole.par + 1, 'crosshatch' : (hole.grossScore >= hole.par + 2) || (hole.grossScore <= hole.par - 2)}">
          {{ hole.grossScore }}
        </div>
      </td>
      <td class="bold">{{ computeTotalGrossScore() }}</td>
  </tr>
  <tr class="net">
      <td class="bold">Net</td>
      <td *ngFor="let hole of holes">
        <div [ngClass]="{'circle' : hole.netScore <= hole.par - 1, 'square' : hole.netScore >= hole.par + 1, 'crosshatch' : (hole.netScore >= hole.par + 2) || (hole.netScore <= hole.par - 2)}">
          {{ hole.netScore }}
        </div>
      </td>
      <td class="bold">{{ computeTotalNetScore() }}</td>
  </tr>
</table>
