<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="golfersData.data.length > 0 && !isLoading" style="width: 90%; margin: 0% 5%;">
  <mat-form-field class="filter-field">
    <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="golfersData" multiTemplateDataRows matSort matSortStart="asc">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let golfer">
        <div>{{ golfer[column] }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedGolferDetail">
      <td mat-cell *matCellDef="let golfer" [attr.colspan]="columnsToDisplay.length">
        <div class="golfer-detail" [@detailExpand]="golfer == expandedGolfer ? 'expanded' : 'collapsed'">
          <div>
            <h4>Teams</h4>
            <div *ngFor="let player_data of golfer.player_data">
                <p>Flight: {{ player_data.flight_name }}, Division: {{ player_data.division_name }}, Team: {{ player_data.team_name }}, Role: {{ player_data.role }}</p>
            </div>
          </div>

          <!-- <app-round-scorecard [round]="round"></app-round-scorecard> -->
          <!-- <mat-action-row>
            <a routerLink="edit/" [queryParams]="{ id: round.round_id }"><button mat-raised-button color="accent">Edit</button></a>
          </mat-action-row> -->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let golfer; columns: columnsToDisplay;" class="golfer-row" [class.golfer-expanded-row]="expandedGolfer === golfer" (click)="expandedGolfer = expandedGolfer === golfer ? null : golfer"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedGolferDetail']" class="golfer-detail-row"></tr>
  </table>
  <mat-paginator [length]="numGolfers" [pageIndex]="pageIndex" [pageSize]="golfersPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="golfersData.data.length > 0"></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="golfersData.data.length <= 0 && !isLoading">No golfer data available</p>
</div>
