<table class="styled-table">
  <thead>
    <tr class="hole">
      <td class="label">
        <mat-select
          class="score-mode-selector"
          [(ngModel)]="selectedScoreMode"
          (selectionChange)="onChangeScoreMode()"
          *ngIf="showScoreModeButtons"
        >
          <mat-option value="gross">Gross</mat-option>
          <mat-option value="adjusted gross">Adj. Gross</mat-option>
          <mat-option value="net">Net</mat-option>
        </mat-select>
      </td>
      <td class="hole" *ngFor="let hole of holes">{{ hole.number }}</td>
      <td class="total">TOT</td>
    </tr>
  </thead>
</table>
