<table class="styled-table">
  <thead>
    <tr class="hole">
      <td class="label">
        <!-- <mat-select
        class="score-mode-selector"
        [(ngModel)]="selectedScoreMode"
        (selectionChange)="onChangeScoreMode()"
        *ngIf="showScoreModeButtons"
        >
        <mat-option value="gross">Gross</mat-option>
        <mat-option value="adjusted gross">Adj. Gross</mat-option>
        <mat-option value="net">Net</mat-option>
      </mat-select> -->
    </td>
    @for (hole of holes; track hole) {
      <td class="hole">{{ hole.number }}</td>
    }
    <td class="total">TOT</td>
  </tr>
</thead>
</table>
