<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading" style="width: 90%; margin: 0% 5%;">
  <h3>Name: {{ golfer.name }}</h3>
  <p>Affiliation: {{ golfer.affiliation }}</p>
  <p>Golfer ID: {{ golfer.golfer_id }}</p>
  <div *ngFor="let team_golfer_data of golfer.team_golfer_data">
    <p>Team: {{ team_golfer_data.team_name }} (id={{ team_golfer_data.team_id }})</p>
    <p>Role: {{ team_golfer_data.role }}</p>
    <p>Division: {{ team_golfer_data.division_name }}</p>
  </div>
</div>
