<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="content" *ngIf="!isLoading">
  <h1>{{ golfer.name }} </h1>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Member Since</span>
      <!-- <span>{{ golfer.year_joined }}</span> -->
    </div>

    <div class="card card-small">
      <span class="bold">APL Handicap Index</span>
      <span *ngIf="golfer.handicap_index_data; else noHandicapData">{{ golfer.handicap_index_data.handicap_index }}</span>
      <ng-template #noHandicapData>--</ng-template>
    </div>

    <div class="card card-small">
      <span class="bold">Affiliation</span>
      <span>{{ golfer.affiliation }}</span>
    </div>
  </div>

  <h2>Active Teams</h2>

  <div class="card-container">
    <a class="card card-small selectable" routerLink="/flight/team" [queryParams]="{id: data.team_id}" *ngFor="let data of golfer.team_golfer_data">
      <span class="bold">{{ data.team_name }} - {{ data.role }}</span>
      <span>{{ data.flight_name }} - {{ data.division_name }}</span>
    </a>
  </div>

  <h2>Scoring Record</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div>

  <h2>Rounds Played</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div>

  <h2>Statistics</h2>

  <div class="card-container">
    <div class="card card-small">
      <span class="bold">Coming soon...</span>
    </div>
  </div>

</div>
