<div class="content">
  <h1>Historical Tournaments</h1>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div *ngIf="!isLoading">
    <div *ngFor="let year of sortedYears">
      <h2 class="year-title">{{ year }}</h2>

      <div class="card-container">
        <a
          class="card selectable"
          routerLink="/tournament"
          [queryParams]="{ id: tournament.id }"
          *ngFor="let tournament of getTournamentsForYear(year)"
        >
          <img
            src="assets/{{ tournament.logo_url }}"
            alt="{{ tournament.name }}"
            width="50"
            *ngIf="tournament.logo_url"
          />

          <span class="bold">{{ tournament.name }} ({{ tournament.year }})</span>

          <svg
            class="material-icons"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
