<table mat-table [dataSource]="golfers" multiTemplateDataRows matSort matSortStart="asc">
  <ng-container matColumnDef="golfer_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let player">{{ player.golfer_name }}</td>
  </ng-container>

  <ng-container matColumnDef="num_rounds">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rounds</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_rounds }}</td>
  </ng-container>

  <ng-container matColumnDef="avg_gross_score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg Gross</th>
    <td mat-cell *matCellDef="let player">
      {{ player.statistics.avg_gross_score | number: '1.2-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="avg_net_score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg Net</th>
    <td mat-cell *matCellDef="let player">
      {{ player.statistics.avg_net_score | number: '1.2-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="num_holes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Holes</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_holes }}</td>
  </ng-container>

  <ng-container matColumnDef="num_aces">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aces</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_aces }}</td>
  </ng-container>

  <ng-container matColumnDef="num_albatrosses">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Albatrosses</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_albatrosses }}</td>
  </ng-container>

  <ng-container matColumnDef="num_eagles">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Eagles</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_eagles }}</td>
  </ng-container>

  <ng-container matColumnDef="num_birdies">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Birdies</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_birdies }}</td>
  </ng-container>

  <ng-container matColumnDef="num_pars">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pars</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_pars }}</td>
  </ng-container>

  <ng-container matColumnDef="num_bogeys">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bogeys</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_bogeys }}</td>
  </ng-container>

  <ng-container matColumnDef="num_double_bogeys">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>D. Bogeys</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_double_bogeys }}</td>
  </ng-container>

  <ng-container matColumnDef="num_others">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Others</th>
    <td mat-cell *matCellDef="let player">{{ player.statistics.num_others }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let player; columns: columnsToDisplay" class="stats-row"></tr>
</table>
