html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles from Angular boilerplate application */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  margin: 16px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 400px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card img {
  margin-right: 16px;
}

.card.card-small {
  height: 16px;
  width: 200px;
  flex-direction: column;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

/* Angular Material styling */
mat-spinner {
    margin: auto;
    margin-top: 36px;
}

/* Element styling */
/* .frost-background {
    background-color: rgba(70, 70, 70, 0.2);
}

.border-solid-thin {
    border: 1px solid rgba(70, 70, 70, 0.8);
    border-radius: 5px;;
}

.box-shadow {
    box-shadow: 0px 1px 2px grey;
} */

/* Bootstrap-like styling */
/* .full-width {
    width: 100%;
}

.half-width {
    width: 50.0%;
}

.width-12 {
    width: 100.0%;
}

.width-10 {
    width: 83.33%;
}

.width-8 {
    width: 66.67%;
}

.width-6 {
    width: 50.0%;
}

.width-4 {
    width: 33.33%;
}

.width-3 {
    width: 25.0%;
}

.width-2 {
    width: 16.67%;
}

.width-1 {
    width: 8.33%;
}

.full-height {
    height: 100%;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}

.padding-10 {
    padding: 10px;
}

.padding-30 {
    padding: 30px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-30 {
padding-bottom: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-30 {
padding-left: 30px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-30 {
padding-right: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
} */
