<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="flightsData.data.length > 0 && !isLoading" style="width: 90%; margin: 0% 5%;">
  <mat-form-field class="filter-field">
    <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="flightsData" multiTemplateDataRows matSort matSortStart="asc">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let round">
        <div>{{ round[column] }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedFlightDetail">
      <td mat-cell *matCellDef="let flight" [attr.colspan]="columnsToDisplay.length">
        <div class="flight-detail" [@detailExpand]="flight == expandedFlight ? 'expanded' : 'collapsed'">
          <div>
            <h4>Divisions</h4>
            <div *ngFor="let division of flight.divisions">
                <p>Division: {{ division.name }}, Tee: {{ division.home_tee_name }} ({{ division.home_tee_rating }}/{{ division.home_tee_slope}})</p>
            </div>
          </div>
          <div>
            <h4>Teams</h4>
            <div *ngFor="let team of flight.teams">
              <h5>Team: {{ team.name }}</h5>
              <p *ngFor="let player of team.players">{{ player.golfer_name }} ({{ player.role }})</p>
            </div>
          </div>

          <!-- <app-round-scorecard [round]="round"></app-round-scorecard> -->
          <!-- <mat-action-row>
            <a routerLink="edit/" [queryParams]="{ id: round.round_id }"><button mat-raised-button color="accent">Edit</button></a>
          </mat-action-row> -->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let flight; columns: columnsToDisplay;" class="flight-row" [class.flight-expanded-row]="expandedFlight === flight" (click)="expandedFlight = expandedFlight === flight ? null : flight"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedFlightDetail']" class="flight-detail-row"></tr>
  </table>
  <mat-paginator [length]="numFlights" [pageIndex]="pageIndex" [pageSize]="flightsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="flightsData.data.length > 0"></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="flightsData.data.length <= 0 && !isLoading">No flight data available</p>
</div>
