<div class="content">

  <h1>Match Scorecard</h1>

  <div class="card card-small selectable" [ngClass]="showInstructions ? 'selected' : ''" (click)="showInstructions = !showInstructions">
    <span class="bold">Instructions</span>
  </div>

  <div class="card" *ngIf="showInstructions">
    <span>Instructions coming soon...</span>
  </div>

  <div>
    <mat-form-field appearance="fill" class="selection-field">
      <mat-label>Flight</mat-label>
      <mat-select (selectionChange)="onSelectedFlightChanged($event)">
        <mat-option *ngFor="let flightOption of flightOptions" [value]="flightOption">{{ flightOption.name }} ({{ flightOption.year }})</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selection-field course-selection-field">
      <mat-label>Course</mat-label>
      <mat-select (selectionChange)="onSelectedCourseChanged($event)">
        <mat-option *ngFor="let courseOption of courseOptions" [value]="courseOption">{{ courseOption.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selection-field">
      <mat-label>Track</mat-label>
      <mat-select (selectionChange)="onSelectedTrackChanged($event)" [disabled]="!selectedCourse">
        <mat-option *ngFor="let trackOption of selectedCourse?.tracks" [value]="trackOption">{{ trackOption.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedFlight">
    <mat-form-field appearance="fill" class="selection-field">
      <mat-label>Team 1</mat-label>
      <mat-select (selectionChange)="onSelectedTeamChanged($event, 1)">
        <mat-option *ngFor="let teamOption of selectedFlight.teams" [value]="teamOption">{{ teamOption.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="selection-field">
      <mat-label>Team 2</mat-label>
      <mat-select (selectionChange)="onSelectedTeamChanged($event, 2)">
        <mat-option *ngFor="let teamOption of selectedFlight.teams" [value]="teamOption">{{ teamOption.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedFlight">
    <ng-container>
      <div>
        <ng-container>
          <mat-form-field appearance="fill" class="selection-field">
            <mat-label>Team 1 Golfer 1</mat-label>
            <mat-select [disabled]="!selectedTeam1" (selectionChange)="onSelectedGolferChanged($event, 1, 1)">
              <mat-option *ngFor="let golferOption of selectedTeam1?.golfers" [value]="golferOption">{{ golferOption.golfer_name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selection-field tee-selection-field">
            <mat-label>Team 1 Golfer 1 Tees</mat-label>
            <mat-select [disabled]="!selectedTrack || !selectedTeam1Golfer1" (selectionChange)="onSelectedTeeChanged($event, 1, 1)">
              <mat-option *ngFor="let teeOption of selectedTrack?.tees" [value]="teeOption">{{ teeOption.name }} ({{ teeOption.gender | slice:0:1 }}: {{ teeOption.rating | number:'1.1-1' }}/{{ teeOption.slope }})</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container>
          <mat-form-field appearance="fill" class="selection-field">
            <mat-label>Team 2 Golfer 1</mat-label>
            <mat-select [disabled]="!selectedTeam2" (selectionChange)="onSelectedGolferChanged($event, 2, 1)">
              <mat-option *ngFor="let golferOption of selectedTeam2?.golfers" [value]="golferOption">{{ golferOption.golfer_name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selection-field tee-selection-field">
            <mat-label>Team 2 Golfer 1 Tees</mat-label>
            <mat-select [disabled]="!selectedTrack || !selectedTeam2Golfer1" (selectionChange)="onSelectedTeeChanged($event, 2, 1)">
              <mat-option *ngFor="let teeOption of selectedTrack?.tees" [value]="teeOption">{{ teeOption.name }} ({{ teeOption.gender | slice:0:1 }}: {{ teeOption.rating | number:'1.1-1' }}/{{ teeOption.slope }})</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>

      <div>
        <ng-container>
          <mat-form-field appearance="fill" class="selection-field">
            <mat-label>Team 1 Golfer 2</mat-label>
            <mat-select [disabled]="!selectedTeam1" (selectionChange)="onSelectedGolferChanged($event, 1, 2)">
              <mat-option *ngFor="let golferOption of selectedTeam1?.golfers" [value]="golferOption">{{ golferOption.golfer_name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selection-field tee-selection-field">
            <mat-label>Team 1 Golfer 2 Tees</mat-label>
            <mat-select [disabled]="!selectedTrack || !selectedTeam1Golfer2" (selectionChange)="onSelectedTeeChanged($event, 1, 2)">
              <mat-option *ngFor="let teeOption of selectedTrack?.tees" [value]="teeOption">{{ teeOption.name }} ({{ teeOption.gender | slice:0:1 }}: {{ teeOption.rating | number:'1.1-1' }}/{{ teeOption.slope }})</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container>
          <mat-form-field appearance="fill" class="selection-field">
            <mat-label>Team 2 Golfer 2</mat-label>
            <mat-select [disabled]="!selectedTeam2" (selectionChange)="onSelectedGolferChanged($event, 2, 2)">
              <mat-option *ngFor="let golferOption of selectedTeam2?.golfers" [value]="golferOption">{{ golferOption.golfer_name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="selection-field tee-selection-field">
            <mat-label>Team 2 Golfer 2 Tees</mat-label>
            <mat-select [disabled]="!selectedTrack || !selectedTeam2Golfer2" (selectionChange)="onSelectedTeeChanged($event, 2, 2)">
              <mat-option *ngFor="let teeOption of selectedTrack?.tees" [value]="teeOption">{{ teeOption.name }} ({{ teeOption.gender | slice:0:1 }}: {{ teeOption.rating | number:'1.1-1' }}/{{ teeOption.slope }})</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>

    </ng-container>
  </div>

  <!-- <app-match-scorecard [match]="createMatch()" *ngIf="selectedTeam1Golfer1Tee"></app-match-scorecard> -->

  <div class="full-width" *ngIf="team1Golfer1Round || team1Golfer2Round || team2Golfer1Round || team2Golfer2Round">
    <app-scorecard-title-line [rounds]="getRounds()" [title]="getMatchTitle()" [subtitle]="getMatchSubtitle()"></app-scorecard-title-line>

    <app-scorecard-hole-line [holeResultData]="getRounds()[roundIdx].holes" [showScoreModeButtons]="false"></app-scorecard-hole-line>
    <app-scorecard-tee-info [holeResultData]="getRounds()[roundIdx].holes" [showDetails]="true"></app-scorecard-tee-info>

    <ng-container *ngFor="let round of getRoundsForTeam(1)">
      <app-scorecard-score-line [round]="round" scoreMode="gross" [title]= "round.golfer_name" [subtitle]="getRoundSubtitle(round)" [linkToGolferHome]="false"></app-scorecard-score-line>
    </ng-container>

    <!-- <app-match-scorecard-score-line [match]="match" [topTeamId]="topTeamId" [bottomTeamId]="bottomTeamId"></app-match-scorecard-score-line> -->

    <ng-container *ngFor="let round of getRoundsForTeam(2)">
      <app-scorecard-score-line [round]="round" scoreMode="gross" [title]= "round.golfer_name" [subtitle]="getRoundSubtitle(round)" [linkToGolferHome]="false"></app-scorecard-score-line>
    </ng-container>
  </div>

  <p>Submit button with confirmation/review here...</p>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

</div>

