<table class="styled-table">
  <tbody>
    <tr class="par" (click)="toggleDetails()">
      <td class="label" [ngStyle]="{ 'background-color': color }">Par</td>
      @for (hole of holes; track hole) {
        <td class="hole">{{ hole.par }}</td>
      }
      <td class="total">{{ totalPar }}</td>
    </tr>
    @if (showDetails) {
      <tr class="stroke-index">
        <td class="label" [ngStyle]="{ 'background-color': color }">Hcp</td>
        @for (hole of holes; track hole) {
          <td class="hole">{{ hole.stroke_index }}</td>
        }
        <td class="total">--</td>
      </tr>
    }
    @if (showDetails) {
      <tr class="yardage">
        <td class="label" [ngStyle]="{ 'background-color': color }">Yds</td>
        @for (hole of holes; track hole) {
          <td class="hole">
            @if (hole.yardage) {
              <div>{{ hole.yardage }}</div>
            }
            @if (!hole.yardage) {
              <div>--</div>
            }
          </td>
        }
        @if (showDetails) {
          <td class="total">
            @if (totalYardage !== 0) {
              <div>{{ totalYardage }}</div>
            }
            @if (totalYardage === 0) {
              <div>--</div>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
