<table class="styled-table">
  <tbody>
    <tr class="score">
      <td class="label" rowspan="1">
        <a routerLink="/golfer" [queryParams]="{id: round.golfer_id}">{{ round.golfer_name }}</a>
      </td>
      <td class="hole" rowspan="2" *ngFor="let holeScore of holeScores; let holeIdx = index">
        <div class="handicap-strokes" [ngClass]="{'red-dot' : round.holes[holeIdx].handicap_strokes < 0, 'black-dot' : round.holes[holeIdx].handicap_strokes > 0}"></div>
        <div class="hole-score">
          <div [ngClass]="{'circle' : holeRelativeScores[holeIdx] < 0, 'square' : holeRelativeScores[holeIdx] > 0, 'crosshatch' : (holeRelativeScores[holeIdx] > 1) || (holeRelativeScores[holeIdx] < -1)}">
            {{ holeScore }}
          </div>
        </div>
      </td>
      <td class="total" rowspan="2">{{ roundScore }} ({{ getRelativeScoreString(roundScore, round.tee_par) }})</td>
    </tr>
    <tr>
      <td class="detail" rowspan="1">{{ round.tee_name | titlecase }} - PH: {{ round.golfer_playing_handicap | number }}</td>
    </tr>
  </tbody>
</table>
