mat-card {
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
}

mat-panel-title {
    font-weight: bold;
}

.team-name {
    font-weight: bold;
    margin-left: 10px;
}

.team-player-table {
    padding: 10px 10px;
    width: 100%;
}

.team-player-table thead {
    text-align: center;
    font-weight: bold;
}
