<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading" style="width: 90%; margin: 0% 5%; margin-top: 5px;">
  <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
    <mat-expansion-panel [hideToggle]="false" *ngFor="let flight of flights">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ flight.name }} - {{ flight.year }}</mat-panel-title>
        <mat-panel-description>
          <span>{{ flight.course_name }}, Flight Secretary: [name]</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="full-width flex-row flex-wrap justify-content-space-around">
        <div class="width-3 frost-background border-solid-thin box-shadow" *ngFor="let team of flight.teams" (click)="selectTeam(team)">
          <table class="team-player-table">
            <thead>
              <tr>
                <td colspan=2>{{ team.name }}</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let golfer of team.golfers">
                <td>{{ golfer.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
