<div class="content">

  <h1>Login</h1>

  <p class="italic">Note: Currently only enabled for flight and tournament secretaries for entering scores</p>

  <div class="card announcement-card fail-card" *ngIf="loginAttempted && !loginSuccessful">
    <span>Login unsuccessful, try again...</span>
  </div>

  <div class="card announcement-card success-card" *ngIf="loginAttempted && loginSuccessful">
    <span>Login successful!</span>
  </div>

  <div class="content" *ngIf="!isLoggedIn(); else loggedIn">

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput required [formControl]="usernameControl">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput required [formControl]="passwordControl">
      <mat-error *ngIf="passwordControl.hasError('minlength')">Password is too short</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="!usernameControl.valid || !passwordControl.valid" (click)="onLogin()">Login</button>
  </div>

  <ng-template #loggedIn>
    <div class="content">
      <p>Currently logged in as '{{ getLoggedInUsername() }}'</p>
    </div>

    <button mat-raised-button color="accent" [disabled]="!isLoggedIn()" (click)="onLogout()">Logout</button>
  </ng-template>

</div>
