.success-card {
  border: 1px solid lightgreen;
  background-color: rgb(212, 235, 212);
  color: green;
  margin-top: 30px;
}

.fail-card {
  border: 1px solid pink;
  background-color: rgb(255, 236, 239);
  color: red;
  margin-top: 30px;
}
