@if (!isLoading) {
  <div class="grid grid-cols-12 place-items-stretch gap-4 p-4">
    <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>
    <app-team-info
      class="col-span-12 md:col-span-8 xl:col-span-3"
      [flightInfo]="flightInfo"
      [teamData]="teamData"
      [teamStandings]="teamStandings"
    />
    <app-team-roster class="col-span-12 md:col-span-4 xl:col-span-3" [teamData]="teamData" />
    <app-team-rounds
      class="col-span-12 row-span-2 md:col-span-6 xl:col-span-4 xl:row-span-3"
      [rounds]="getRounds()"
    />
    <div class="hidden xl:block xl:col-span-1 xl:row-span-3 bg-transparent"></div>
    <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>
    @if (teamMatches) {
      <app-team-schedule
        class="col-span-12 md:col-span-6"
        [flightInfo]="flightInfo"
        [matches]="teamMatches"
      />
    }
    <div class="hidden xl:block xl:col-span-1 bg-transparent"></div>
    @if (statistics) {
      <app-flight-statistics
        class="col-span-12 md:col-span-6"
        [statistics]="statistics"
        [matchCountLimit]="0"
        [hideSubstitutesToggle]="true"
        [pagination]="false"
      />
    }
  </div>
} @else {
  <div class="flex flex-col items-center w-full p-10">
    <p-progress-spinner
      strokeWidth="4"
      fill="transparent"
      animationDuration="2s"
      [style]="{ widthcs: '100px', height: '100px' }"
    />
  </div>
}
