<div class="content">
  <h1>League Dues Payments</h1>
</div>

<div class="content full-width" *ngIf="!isLoading">
  <table class="full-width" mat-table [dataSource]="leagueDuesPayments">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="col !== 'edit'">
          {{ columnNames[col] }}
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col" *ngIf="!element.edit">
          <div *ngSwitchCase="'edit'">
            <button mat-raised-button color="primary" (click)="element.edit = !element.edit">Edit</button>
          </div>
          <span *ngSwitchDefault>
            <span *ngIf="col === 'amount_due' || col === 'amount_paid'; else notNumeric">
              ${{ element[col] | number : '1.2' }}
            </span>
            <ng-template #notNumeric>
              <span>
                {{ element[col] }}
              </span>
            </ng-template>
          </span>
        </div>
        <div [ngSwitch]="col" *ngIf="element.edit">
          <div *ngSwitchCase="'edit'">
            <button mat-raised-button color="accent" (click)="element.edit = !element.edit">Done</button>
          </div>
          <div *ngSwitchCase="'method'">
            <mat-form-field class="mat-column-method">
              <mat-label>{{ columnNames[col] }}</mat-label>
              <mat-select [(value)]="element[col]">
                <mat-option value="">--</mat-option>
                <mat-option value="Cash or Check">Cash or Check</mat-option>
                <mat-option value="PayPal">PayPal</mat-option>
                <mat-option value="Exempt">Exempt</mat-option>
                <mat-option value="Linked">Linked</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'amount_due'">
            <mat-form-field class="mat-column-amount_due">
              <mat-label>{{ columnNames[col] }}</mat-label>
              <input type="numeric" matInput [(ngModel)]="element[col]">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'amount_paid'">
            <mat-form-field class="mat-column-amount_due">
              <mat-label>{{ columnNames[col] }}</mat-label>
              <input type="numeric" matInput [(ngModel)]="element[col]">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'linked_payment_id'">
            <mat-form-field class="mat-column-linked_payment_id">
              <mat-label>Id</mat-label>
              <input type="numeric" matInput [(ngModel)]="element[col]">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'confirmation'">
            <mat-form-field class="mat-column-confirmation">
              <mat-label>{{ columnNames[col] }}</mat-label>
              <input type="text" matInput [(ngModel)]="element[col]">
            </mat-form-field>
          </div>
          <div *ngSwitchDefault>
            {{ element[col] }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>
