table {
  width: 100%;
}

th.mat-header-cell {
  padding-left: 10px;
}

.mat-column-id,
.mat-column-year,
.mat-column-linked_payment_id,
.mat-column-amount_due,
.mat-column-amount_paid {
  width: 60px;
}

.mat-column-golfer_name {
  width: 180px;
}

.mat-column-type {
  width: 85px;
}

.mat-column-method {
  width: 110px;
}

.mat-column-confirmation {
  width: 250px;
}
