<div class="content">
  <mat-tab-group
    animationDuration="0ms"
    [(selectedIndex)]="selectedTabIdx"
    (selectedIndexChange)="onTabIndexChanged($event)"
    *ngIf="!isLoadingFlights && !isLoadingTournaments"
  >
    <mat-tab label="Flight Sign-Ups">
      <div class="content" *ngIf="!isLoadingFlights">
        <mat-form-field appearance="fill">
          <mat-label>Select Flight</mat-label>
          <mat-select [formControl]="flightControl" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let flight of flights"
              [value]="flight"
              (click)="getSelectedFlightData(flight.id)"
              >{{ flight.name }} ({{ flight.year }})</mat-option
            >
          </mat-select>
          <mat-error *ngIf="flightControl.hasError('required')">Please choose a flight</mat-error>
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Tournament Sign-Ups">
      <div class="content" *ngIf="!isLoadingTournaments">
        <mat-form-field appearance="fill">
          <mat-label>Select Tournament</mat-label>
          <mat-select [formControl]="tournamentControl" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let tournament of tournaments"
              [value]="tournament"
              (click)="getSelectedTournamentData(tournament.id)"
              >{{ tournament.name }} ({{ tournament.year }})</mat-option
            >
          </mat-select>
          <mat-error *ngIf="tournamentControl.hasError('required')"
            >Please choose a tournament</mat-error
          >
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div
  class="content"
  *ngIf="
    !flightControl.hasError('required') &&
    selectedFlightOrTournament &&
    !isLoadingSelectedFlightOrTournament
  "
>
  <h2>
    {{ selectedFlightOrTournament.name | titlecase }} ({{ selectedFlightOrTournament.year }}) Flight
    Info
  </h2>

  <div class="card-container">
    <a
      class="card card-small selectable"
      href="mailto:{{ selectedFlightOrTournament.secretary_email }}"
    >
      <span class="bold">Secretary</span>
      <span>{{ selectedFlightOrTournament.secretary }}</span>
    </a>

    <div class="card card-small">
      <span class="bold">Course</span>
      <span>{{ selectedFlightOrTournament.course }}</span>
    </div>

    <div class="card card-small">
      <span class="bold">Sign-Up Dates</span>
      <span
        >{{ selectedFlightOrTournament.signup_start_date | date: 'mediumDate' }} -
        {{ selectedFlightOrTournament.signup_stop_date | date: 'mediumDate' }}</span
      >
    </div>

    <div class="card card-small" *ngIf="getFlightTeeTimes()">
      <span class="bold">Tee Times</span>
      <span>{{ getFlightTeeTimes() }}</span>
    </div>

    <div class="card card-small">
      <span class="bold">{{ getFlightStartOrTournamentDateLabel() }}</span>
      <span>{{ getFlightStartOrTournamentDate() | date: 'mediumDate' }}</span>
    </div>
  </div>

  <!-- <h3>Divisions</h3>

  <app-division-list [divisions]="selectedFlightOrTournament.divisions"></app-division-list> -->

  <h3>Teams</h3>

  <div *ngIf="!isSelectedSignupWindowOpen">
    <h3 class="italic" *ngIf="this.selectedFlightOrTournament.signup_start_date > this.currentDate">
      Sign-up window opens in {{ getDaysUntilSignup() }} days!
    </h3>
    <h3 class="italic" *ngIf="this.selectedFlightOrTournament.signup_stop_date < this.currentDate">
      Sign-up window is closed
    </h3>
  </div>

  <div style="margin-bottom: 8px">
    <button
      mat-raised-button
      color="primary"
      (click)="onCreateTeam()"
      [disabled]="!isSelectedSignupWindowOpen && !(isAuthenticated && currentUser?.is_admin)"
    >
      Create Team
    </button>
    <button mat-raised-button color="primary" (click)="onPayDues()">Pay Dues</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onPayEntryFees()"
      *ngIf="selectedTabIdx === 1"
    >
      Pay Entry Fees
    </button>
  </div>

  <p
    class="italic"
    *ngIf="isSelectedSignupWindowOpen || (isAuthenticated && currentUser?.is_admin)"
  >
    Click on a team card to update sign-ups
  </p>

  <!-- TODO: Un-hardcode this warning, make it configurable per-flight/tournament -->
  <!-- <div class="content" *ngIf="isSelectedSignupWindowOpen && this.selectedFlightOrTournament.name === 'Fairway Hills'">
    <p class="italic" style="color: red">Note: This flight is currently limited to 9 teams! Feel free to sign up beyond that but consider it a wait list.</p>
    <p class="italic" style="color: red">If more than 9 teams are registered, we will poll teams for flight changes or consider other solutions after sign-ups close.</p>
  </div> -->

  <p class="italic" *ngIf="selectedFlightOrTournament.teams?.length === 0">
    No teams have signed-up yet...
  </p>

  <div class="card-container team-list">
    <a
      aria-hidden="true"
      class="card team-card"
      [ngClass]="{
        selectable: isSelectedSignupWindowOpen || (isAuthenticated && currentUser?.is_admin),
      }"
      *ngFor="let team of getSelectedFlightOrTournamentTeams()"
      (click)="onUpdateTeam(team)"
      (keydown)="onUpdateTeam(team)"
    >
      <span class="bold">{{ team.name }}</span>
      <div *ngFor="let golfer of team.golfers">
        <span>{{ golfer.golfer_name }} - {{ golfer.division_name }} - Hcp: </span>
        <span *ngIf="golfer.handicap_index; else noHandicapIndex">{{
          golfer.handicap_index | number: '1.1'
        }}</span>
        <ng-template #noHandicapIndex>
          <span>--</span>
        </ng-template>
      </div>
    </a>
  </div>
</div>

<mat-spinner
  *ngIf="isLoadingFlights || isLoadingTournaments || isLoadingSelectedFlightOrTournament"
></mat-spinner>
