<div class="scorecard">
  <mat-action-row>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onScoreModeChanged($event.value)">
      <mat-button-toggle value="gross" checked="true">Gross</mat-button-toggle>
      <mat-button-toggle value="adjusted gross">Adj Gross</mat-button-toggle>
      <mat-button-toggle value="net">Net</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-action-row>
  <app-scorecard-hole-line [holes]=round.holes></app-scorecard-hole-line>
  <app-scorecard-tee-info [holes]="round.holes" [name]="round.tee_name" [gender]="round.tee_gender" [rating]="round.tee_rating" [slope]="round.tee_slope" [color]="round.tee_color"></app-scorecard-tee-info>
  <app-scorecard-score-line [round]="round" [scoreMode]="scoreMode"></app-scorecard-score-line>
</div>
