<mat-action-row>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onScoreModeChanged($event.value)">
    <mat-button-toggle value="gross" checked="true">Gross</mat-button-toggle>
    <mat-button-toggle value="adjusted gross">Adj Gross</mat-button-toggle>
    <mat-button-toggle value="net">Net</mat-button-toggle>
  </mat-button-toggle-group>
</mat-action-row>

<table class="styled-table">
  <thead>
    <tr class="hole">
      <td class="label">Hole</td>
      <td class="hole" *ngFor="let hole of round.round_holes">{{ hole.hole_number }}</td>
      <td class="total">TOT</td>
    </tr>
  </thead>
  <tbody>
    <tr class="par">
      <td class="label">Par</td>
      <td class="hole" *ngFor="let hole of round.round_holes">{{ hole.hole_par }}</td>
      <td class="total">{{ roundPar }}</td>
    </tr>
    <tr class="stroke-index">
      <td class="label">Hcp</td>
      <td class="hole" *ngFor="let hole of round.round_holes">{{ hole.hole_stroke_index }}</td>
      <td class="total">--</td>
    </tr>
    <tr class="yardage">
      <td class="label">Yds</td>
      <td class="hole" *ngFor="let hole of round.round_holes">
        <div *ngIf="hole.hole_yardage">{{ hole.hole_yardage }}</div>
        <div *ngIf="!hole.hole_yardage">--</div>
      </td>
      <td class="total">--</td>
    </tr>
    <tr class="score">
      <td class="label">{{ round.golfer_name | titlecase }}</td>
      <td class="hole" *ngFor="let holeScore of holeScores; let holeIdx = index">
        <div class="handicap-strokes" [ngClass]="{'red-dot' : holeHandicapStrokes[holeIdx] < 0, 'black-dot' : holeHandicapStrokes[holeIdx] > 0}"></div>
        <div class="hole-score">
          <div [ngClass]="{'circle' : holeRelativeScores[holeIdx] < 0, 'square' : holeRelativeScores[holeIdx] > 0, 'crosshatch' : (holeRelativeScores[holeIdx] > 1) || (holeRelativeScores[holeIdx] < -1)}">
            {{ holeScore }}
          </div>
        </div>
      </td>
      <td class="total">{{ roundScore }} ({{ getRelativeScoreString(roundScore, roundPar) }})</td>
    </tr>
  </tbody>
</table>
