<p-card>
  <div class="flex flex-col sm:flex-row sm:items-center px-4 pt-4">
    <span class="text-2xl font-semibold">Standings</span>
  </div>

  <div class="flex flex-col sm:flex-row sm:items-center px-4 pt-1">
    <span class="text-sm italic">Positioning is determined by average points.</span>
  </div>

  <p-table
    #dt
    [value]="standings.teams"
    dataKey="id"
    sortField="avg_points"
    [sortOrder]="-1"
    stripedRows
    selectionMode="single"
    dataKey="team_id"
    *ngIf="standings"
  >
    <ng-template #caption> </ng-template>
    <ng-template #header>
      <tr>
        <th>Pos</th>
        <th pSortableColumn="team_name">Team <p-sortIcon field="team_name" /></th>
        <th pSortableColumn="points_won">Points <p-sortIcon field="points_won" /></th>
        <th pSortableColumn="matches_played">Matches <p-sortIcon field="matches_played" /></th>
        <th pSortableColumn="avg_points">Avg. Points <p-sortIcon field="avg_points" /></th>
      </tr>
    </ng-template>
    <ng-template #body let-team>
      <tr [pSelectableRow]="team">
        <td>{{ team.position }}</td>
        <td>{{ team.team_name }}</td>
        <td>{{ team.points_won }}</td>
        <td>{{ team.matches_played }}</td>
        <td>{{ team.avg_points | number: '1.2-2' }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
