<div class="row">
  <div class="col-xs-12">
    <h6>Date: {{ (round.datePlayed | date : 'yyyy-MM-dd') }}</h6>
    <h6>Course: {{ round.course.courseName }} {{ round.course.trackName }} ({{ round.course.abbreviation }})</h6>
    <h6>Tees: {{ round.course.teeName }} ({{ round.course.rating }}/{{ round.course.slope }})</h6>
    <h6>Player: {{ round.player.lastName }}, {{ round.player.firstName }} (HI: {{ round.playerHandicapIndex }}, CH: {{ round.playerCourseHandicap }})</h6>
    <h6>Score: Gross = {{ round.grossScore }} ({{ round.grossScore - round.course.par }}), Adjusted Gross = {{ round.adjustedGrossScore }} ({{ round.adjustedGrossScore - round.course.par }}), Net = {{ round.netScore }} ({{ round.netScore - round.course.par }})</h6>
    <h6>Score Differential: {{ round.scoreDifferential }}</h6>
    <app-scorecard [round]="round" [course]="round.course"></app-scorecard>
  </div>
</div>
