<div class="content">
  <h1>APL Golf League Bylaws</h1>

  <h2>Article I - Name</h2>

  <h3>Section 1 - Name</h3>
  <p>
    The League shall be known as the Johns Hopkins University Applied Physics Laboratory Golf
    League, and shall continue until dissolved by a two-thirds vote of the Employee Members as
    defined in Article II, Section 2, below.
  </p>

  <h2>Article II - Purpose, Membership, Organization, and Dues</h2>

  <h3>Section 1 - Purpose</h3>
  <p>
    The purpose for the establishment of the JHU/APL Golf League is to improve company loyalty,
    teamwork and enhance the physical fitness of the JHU/APL staff by creating recreational
    opportunities through the organized and communal play of the game of golf.
  </p>

  <h3>Section 2 - Membership</h3>
  <p>
    All employees of the Johns Hopkins University Applied Physics Laboratory (JHU/APL) (as defined
    by the APL Policies and Procedures) are eligible to be a “Employee Member” of the Golf League.
    All non-employees (including, but not limited to JHU/APL retirees, leased workers, Credit Union
    employees, family and friends) are eligible to be a “Visitor Member” of the League. Each team’s
    captain must be either an Employee Member or JHU/APL Retiree. Membership in the Golf League
    begins with the payment of annual dues of $40.00 and remains in effect for the duration of the
    “golf season” in which those dues apply. Membership entitles an individual to participate in all
    Golf League sponsored events and activities.
  </p>

  <h3>Section 3 - Organization</h3>
  <p>
    The Golf League shall be a mixed, handicapped league. The League shall be composed of teams with
    a minimum of two (2) players per team. Each team will designate a Captain and all players on a
    team will be afforded an equal opportunity to participate. The formation of teams will take
    place through an annual registration process. After the registration process is complete, teams
    will be formed into flights and assigned to a golf course. These course assignments will be
    based on team requests at registration, course availability, and the requirement that there be
    at least 6 teams per flight per course.
  </p>

  <h3>Section 4 - Dues</h3>
  <p>
    Golf League membership for the up-coming golf season requires the payment of annual dues to the
    Treasurer prior to the first scheduled match of the season. The Executive Committee, prior to
    the start of the registration process, will establish the dues amount. Members who have not paid
    dues prior to the League’s first scheduled match or first scheduled tournament of the new season
    are delinquent in dues and automatically suspended from participation in the League. Dues are to
    be used for general operating expenses. These expenses consist principally of underwriting the
    annual awards and banquet and off setting the cost of sponsoring League tournaments. Once a
    member participates in a league event or activity, the member’s dues payment will not be
    refunded. A dues refund will be made to a member prior to league participation upon the member’s
    submittal of a written resignation to the League President.
  </p>

  <h2>Article III - Officers and Duties</h2>

  <h3>Section 1 - Officers</h3>
  <p>
    The League officers shall consist of a President, Vice President, Treasurer, and Handicapper.
    The League officers shall preside at the will of the Employee Members as defined in Article II,
    Section 2. The League officers will assume their power and duties prior to the start of the
    registration period for each season. The League officers shall be exempt from the payment of
    regular dues.
  </p>

  <h3>Section 2 - President</h3>
  <p>
    The President must be an APL employee and shall act as the chief supervising officer of the
    League, appoint the necessary committees, serve as The Chairperson of the Executive and Planning
    Committee, and serve as a member on other committees as indicated in Article V.
  </p>

  <h3>Section 3 - Vice President</h3>
  <p>
    The Vice President must be an APL employee and shall have such powers and duties as usually
    pertain to such office and assume the duties of the President in the President’s absence. By
    rule the Vice President is responsible for running the tournament for determining the annual APL
    Golf League Team Champion.
  </p>

  <h3>Section 4 - Treasurer</h3>
  <p>
    The Treasurer must be an APL employee and shall keep the minutes of League meetings, prepare
    League correspondence, receive all League funds, and deposit such funds in a repository approved
    by the Executive Committee. The Treasurer shall pay out funds only with authorization from the
    League President, and at the end of each season, prepare a financial statement for review by the
    Executive Committee.
  </p>

  <h3>Section 5 - Handicapper</h3>
  <p>
    The Handicapper shall compute and keep current the handicap scores for all League members. The
    handicapper will in addition verify the handicaps as recorded by the Flight Secretaries during
    flight play and compute or verify the handicaps for participants in League sponsored
    tournaments.
  </p>

  <h2>Article IV - Election of Officers</h2>

  <h3>Section 1 - Elections</h3>
  <p>
    Prior to the start of the season, the President shall poll the team captains for the purpose of
    nominating officers for the coming year. The entire body of Employee Members, as defined in
    Article II, Section 2, shall then be given the opportunity to vote for the nominees. Nominees
    receiving the largest number of votes shall be elected to office. If a slate of nominees does
    not result from the polling of the team captains, the Executive Committee will meet and nominate
    a slate of officers to be voted upon by the Employee Members of the League.
  </p>

  <h3>Section 2 - Vacancies</h3>
  <p>
    Should any League office become vacant prior to or during the season, the vacancy shall be
    filled by Presidential appointment. In the event that the vacancy is for the office of
    President, the Vice President shall assume the office of President.
  </p>

  <h2>Article V - Committees and Duties</h2>

  <h3>Section 1 - Selection of Committees</h3>
  <p>The President shall appoint all Committees listed below.</p>

  <h3>Section 2 - Planning Committee</h3>
  <p>
    The Planning Committee shall commence their duties at the start of each calendar year and will
    consist of the League officers named in Article III, Section 1, the most recent past President,
    one Flight Secretary, and one Employee Member from the membership at-large. The Committee will
    be responsible for planning the overall operation of League play. The duties of the Committee
    will include: (1) canvassing and coordinating the choices of golf courses; (2) making the
    necessary arrangements with the various golf courses when required; (3) assigning flights to
    golf courses, and then teams to flights; (4) obtaining a Flight Secretary for each flight in the
    League; (5) posting information on the Golf League web site; and (6) planning and organizing
    special events with the exception of functions listed as the responsibility of another
    committee.
  </p>

  <h3>Section 3 - Executive Committee</h3>
  <p>
    The Executive Committee will consist of the League officers named in Article III, Section 1, the
    chairperson from each committee, the most recent past President, one Flight Secretary, and one
    Employee Member from the membership at-large. The duties of the Executive Committee shall be to
    administer the League, manage the budget, and conduct operations in accordance with the bylaws
    and the plans developed by the Planning Committee. The Committee shall take action on disputes
    or complaints referred to it by team captains and/or Flight Secretaries. The Executive Committee
    shall pre-approve any recommendations of the Rules Committee, Tournament Committee, and Awards
    and Banquet Committee if they are to be presented to the League membership.
  </p>

  <h3>Section 4 - Rules Committee</h3>
  <p>
    The Rules Committee shall consist of at least three members whose duties shall be to interpret,
    apply, and revise local and U. S. Golf Association rules to suit League play and to settle all
    disputes regarding rules of play. The Rules Committee shall submit their recommendations for
    variations to the USGA Rules of Golf to the Executive Committee for approval.
  </p>

  <h3>Section 5 - Tournament Committee</h3>
  <p>
    The Tournament Committee shall consist of members who shall plan, arrange, and administer
    special tournaments or outings. These plans and arrangements will include selecting the course,
    the format of play, the date, the prizes, the player fee, and the level of League subsidy. The
    Tournament Committee shall submit their planned tournament schedule and budget to the Executive
    Committee for approval.
  </p>

  <h3>Section 6 - Awards and Banquet Committee</h3>
  <p>
    The Awards and Banquet Committee shall consist of members who shall identify and recommend
    achievements in League play for which awards are to be given. Upon approval of the plans and
    budgets by the Executive Committee, the Awards and Banquet Committee will select and obtain the
    trophies for presentation. Additionally, the Awards and Banquet Committee shall plan the date,
    time, place, activities, and budget for the annual banquet and submit these to the Executive
    Committee for approval.
  </p>

  <h3>Section 7 - Publicity Committee</h3>
  <p>
    The Publicity Committee shall consist of one (1) member to distribute League information to the
    APL News and the APL Recreation News Letter.
  </p>

  <h3>Section 8 - Flight Secretaries</h3>
  <p>
    One Flight Secretary for each flight in the League will be appointed by the Planning Committee
    and will have the following duties:
  </p>
  <ol type="a">
    <li>
      To submit official match scores into the League’s scoring and handicapping system administered
      and supervised by the League Handicapper.
    </li>
    <li>
      To administer the flight in a way that ensures fair and honest play and in adherence to the
      following League and flight rules:
    </li>
    <ol>
      <li>Defaulting, postponing, forfeiting, or voiding scheduled matches.</li>
      <li>The use of substitutes.</li>
      <li>The recording of scores.</li>
      <li>The matching of scorecards.</li>
    </ol>
    <li>
      Determining any special rules of golf that apply for the flight. These special rules are those
      minor variations from the League rules which are desirable to speed up play or which apply to
      the playing conditions at a particular course.
    </li>
  </ol>
  <p>Flight Secretaries are exempt from payment of the regular League dues.</p>

  <h2>Article VI - Rules of Play</h2>

  <h3>Section 1 - Conduct</h3>
  <p>
    Each member shall agree to conduct themselves in a professional manner at all times and adhere
    to the rules of conduct and decorum outlined in the APL Standards of Ethics and Conduct.
  </p>

  <h3>Section 2 - Rules of Play</h3>
  <p>
    The rules governing play shall be those as published by the U. S. Golf Association except where
    amended by the League Rules Committee.
  </p>

  <h3>Section 3 - Scoring</h3>
  <p>
    The method of scoring in each flight will be the 11 point system, a combination of match and
    stroke play.
  </p>

  <h2>Article VII - Substitute Golfers</h2>

  <h3>Section 1 - Subtitutes</h3>
  <p>
    The League Handicapper shall maintain a roster of substitute golfers. These players may
    substitute for a regular team member if said member is unable to participate. Only one
    substitute shall be permitted per team per match. Substitutes shall not be charged dues and may
    attend the annual banquet at a fee commensurate with what is charged to non-League members. The
    substitute golfer’s score shall count only toward the points of the match (i.e. match and medal)
    but shall not be counted for individual awards.
  </p>

  <h2>Article VIII - Awards</h2>

  <h3>Section 1 - Eligibility for Awards</h3>
  <p>
    To be eligible for an individual award, either a net award or gross award, the player must
    participate in at least 5 team matches. For “new” golfers, since the first 3 rounds are used to
    determine which class the golfer is in, a total of 8 team matches must be played in order to be
    eligible for a net prize (only 5 matches are needed for a gross prize).
  </p>

  <h2>Article IX - Annual Meeting</h2>

  <h3>Section 1 - Meeting Attendance</h3>
  <p>A meeting/banquet and the presentation of awards shall be held annually.</p>

  <h2>Article X - Ammendments to Bylaws</h2>

  <h3>Section 1 - Ammenments</h3>
  <p>
    Bylaws may be adopted or amended by a simple majority vote of the Employee Members of the League
    (as defined in Article II, Section 2), provided that notice of such proposed action shall have
    been given to the Employee Members of the League in advance of the voting.
  </p>

  <h3>Section 2 - Initiation of Proposals for Amendments</h3>
  <p>
    Proposals for amendments to the bylaws may be brought before the Employee Members for a vote
    either by action of the President or by petition to the President signed by at least 20 percent
    of the Employee Members.
  </p>
</div>
