<div class="flex flex-col justify-items-center px-8 py-4">
  <table class="text-center">
    <thead>
      <tr class="font-semibold">
        <td class="w-30"></td>
        <td class="w-12 border-r-1"></td>
        @for (week of weeks; track week) {
          <td class="w-12">{{ week }}</td>
        }
      </tr>
      <tr class="font-semibold">
        <td></td>
        <td class="w-12 border-r-1"></td>
        @for (week of weeks; track week) {
          <td class="w-12 border-b-1">{{ getWeekStartDate(week) }}</td>
        }
      </tr>
    </thead>
    <tbody>
      @for (teamName of teamNames; track teamName) {
        <tr>
          <td class="text-right">{{ teamName }}</td>
          <td class="border-r-1">{{ teamNumbers[teamName] }}</td>
          @for (week of weeks; track week) {
            <td [ngClass]="week === currentWeek ? 'font-semibold bg-blue-50' : ''">
              {{
                teamOpponents[teamName][week - 1] === '' ? '-' : teamOpponents[teamName][week - 1]
              }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
