@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb; /* Tailwind Blue-600 */
  --primary-hover: #1d4ed8; /* Tailwind Blue-700 */
}

body {
  @apply bg-gray-100;
}

.p-button,
.p-togglebutton {
  @apply bg-gray-50 ring-1 ring-gray-200 text-gray-800 text-sm py-2 px-4 mx-2 rounded-md shadow-md transition;
}

.p-button:hover:not(:disabled),
.p-togglebutton:hover:not(:disabled) {
  @apply text-blue-600 shadow-lg;
}

.p-button:disabled {
  @apply bg-gray-300 text-gray-500;
}

.p-inputtext {
  @apply bg-gray-50 ring-1 ring-gray-200 rounded-md px-2 py-1;
}

.p-carousel-indicator-button {
  @apply bg-gray-200 rounded-3xl shadow-none;
}

.p-carousel-indicator-button:hover {
  @apply bg-gray-400;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  @apply bg-blue-400;
}

.p-paginator-page-selected {
  @apply text-blue-600 font-semibold;
}
