@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb; /* Tailwind Blue-600 */
  --primary-hover: #1d4ed8; /* Tailwind Blue-700 */
}

body {
  @apply bg-gray-100;
}

.p-toast .p-toast-message {
  @apply mb-2 p-2;
}

.p-button,
.p-togglebutton {
  @apply bg-gray-50 ring-1 ring-gray-200 text-gray-800 text-sm py-2 px-4 mx-2 rounded-md shadow-md transition;
}

.p-button:hover:not(:disabled),
.p-togglebutton:hover:not(:disabled) {
  @apply text-blue-600 shadow-lg;
}

.p-button:disabled {
  @apply bg-gray-300 text-gray-500;
}

.p-datepicker-panel .p-button {
  @apply bg-transparent ring-0 shadow-none p-0 m-0;
}

.p-dialog-close-button {
  @apply bg-transparent ring-0 shadow-none p-0 m-0;
}

.p-inputtext {
  @apply bg-gray-50 ring-1 ring-gray-200 rounded-md px-2 py-1;
}

.p-datatable {
  @apply px-4 py-4;
}

.p-carousel-indicator-button {
  @apply bg-gray-200 rounded-3xl shadow-none;
}

.p-carousel-indicator-button:hover {
  @apply bg-gray-400;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  @apply bg-blue-400;
}

.p-paginator-page-selected {
  @apply text-blue-600 font-semibold;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-target,
  .print-target * {
    visibility: visible;
  }

  .print-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

a {
  color: #252525;
  text-decoration: none;
}

a.link-text {
  color: #1976d2;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.announcements-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.announcements-card {
    height: 100%;
    text-align: center;
  }
}

/* Custom styles */
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.scorecard {
  margin-top: 12px;
  border-bottom: 2px solid #3f51b5;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
