@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb; /* Tailwind Blue-600 */
  --primary-hover: #1d4ed8; /* Tailwind Blue-700 */
}

body {
  @apply bg-gray-100 transition-colors duration-200;
  @apply dark:bg-zinc-800;
}

.p-button,
.p-togglebutton {
  @apply ring-1 text-sm py-2 px-4 mx-2 rounded-md shadow-md transition;
}

.p-button,
.p-togglebutton,
.p-select {
  @apply dark:bg-zinc-800 dark:ring-zinc-600 dark:text-white;
  @apply bg-gray-50 dark:bg-zinc-800;
  @apply ring-gray-200 dark:ring-zinc-700;
  @apply text-gray-800 dark:text-white;
}

.p-button:hover:not(:disabled),
.p-togglebutton:hover:not(:disabled),
.p-select:hover:not(:disabled) {
  @apply shadow-lg;
  @apply text-blue-600 dark:text-blue-400;
}

.p-button:disabled,
.p-togglebutton:disabled,
.p-select:disabled {
  @apply bg-gray-300 text-gray-500;
}

.p-inputtext {
  @apply ring-1 rounded-md px-2 py-1;
  @apply bg-gray-50 dark:bg-zinc-800;
  @apply ring-gray-200 dark:ring-zinc-700;
}

.p-carousel-indicator-button {
  @apply bg-gray-200 rounded-3xl shadow-none;
}

.p-carousel-indicator-button:hover {
  @apply bg-gray-400;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  @apply bg-blue-400;
}

.p-paginator-page-selected {
  @apply text-blue-600 font-semibold;
}

.p-menubar-item-link {
  @apply h-12 px-2;
}
