<table class="styled-table">
  <tbody>
    <tr class="score">
      <td class="label"></td>
      <td class="hole" *ngFor="let score of topTeamHoleNetScores; let holeIdx = index">
        <div [ngClass]="{'arrow-up' : topTeamHoleNetScores[holeIdx] < bottomTeamHoleNetScores[holeIdx], 'arrow-down' : topTeamHoleNetScores[holeIdx] > bottomTeamHoleNetScores[holeIdx], 'dash' : topTeamHoleNetScores[holeIdx] === bottomTeamHoleNetScores[holeIdx]}"></div>
      </td>
      <td class="total">
        <ng-container *ngIf="winningTeamId !== -1; else tie">
          <div [ngClass]="{'arrow-up' : winningTeamId === topTeamId, 'arrow-down' : winningTeamId === bottomTeamId}"></div>
        </ng-container>
        <ng-template #tie>
          <div class="hole-score, dash"></div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
