<table class="text-center">
  <thead>
    <tr class="font-semibold">
      <td></td>
      <td class="w-12 border-r-1"></td>
      <td class="w-12" *ngFor="let week of weeks">{{ week }}</td>
    </tr>
    <tr class="font-semibold">
      <td></td>
      <td class="w-12 border-r-1"></td>
      <td class="w-12 border-b-1" *ngFor="let week of weeks">{{ getWeekStartDate(week) }}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teamName of teamNames">
      <td class="text-right">{{ teamName }}</td>
      <td class="border-r-1">{{ teamNumbers[teamName] }}</td>
      <td [ngClass]="week === currentWeek ? 'font-semibold' : ''" *ngFor="let week of weeks">
        {{ teamOpponents[teamName][week - 1] === '' ? '-' : teamOpponents[teamName][week - 1] }}
      </td>
    </tr>
  </tbody>
</table>
