<div class="grid grid-cols-12 place-items-stretch gap-4 p-4">
  <div class="col-span-1 bg-gray-500"></div>

  <div class="col-span-3 row-span-1">
    <div class="flex flex-col items-center py-4" *ngIf="!info">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>

    <app-flight-info [info]="info" *ngIf="info" />
  </div>

  <div class="col-span-4 row-span-1">
    <div class="flex flex-col items-center py-4" *ngIf="!standings">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>

    <app-flight-standings [standings]="standings" *ngIf="standings" />
  </div>

  <div class="col-span-3 bg-green-500"></div>
  <div class="col-span-1 bg-gray-500"></div>

  <div class="col-span-1 bg-gray-500 h-100"></div>

  <div class="col-span-3 row-span-2">
    <div class="flex flex-col items-center py-4" *ngIf="!teams">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>

    <app-flight-teams [teams]="teams" *ngIf="teams" />
  </div>
  <div class="col-span-7">
    <div class="flex flex-col items-center py-4" *ngIf="!matches || !info">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>

    <app-flight-schedule-matrix [info]="info" [matches]="matches" *ngIf="matches && info" />
  </div>
  <div class="col-span-1 bg-gray-500"></div>

  <div class="col-span-1 bg-gray-500 h-100"></div>
  <div class="col-span-4 bg-green-500"></div>
  <div class="col-span-1 bg-gray-500"></div>
</div>
