<div class="grid grid-cols-12 place-items-stretch gap-4 p-4">
  <div class="col-span-1 bg-gray-500"></div>
  <div class="col-span-3 row-span-1">
    <div class="flex flex-col items-center py-4" *ngIf="!flight">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>

    <app-flight-info [flight]="flight" *ngIf="flight" />
  </div>

  <div class="col-span-4 row-span-2">
    <div class="flex flex-col items-center py-4" *ngIf="!flight">
      <p-progress-spinner
        strokeWidth="4"
        fill="transparent"
        animationDuration="2s"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>

    <app-flight-standings [flight]="flight" *ngIf="flight" />
  </div>

  <div class="col-span-3 bg-green-500"></div>
  <div class="col-span-1 bg-gray-500"></div>

  <div class="col-span-1 bg-gray-500 h-100"></div>
  <div class="col-span-3 row-span-2 bg-purple-500"></div>
  <div class="col-span-3 row-span-2 bg-yellow-500"></div>
  <div class="col-span-1 bg-gray-500"></div>

  <div class="col-span-1 bg-gray-500 h-100"></div>
  <div class="col-span-4 bg-green-500"></div>
  <div class="col-span-1 bg-gray-500"></div>
</div>
