<p-card class="flex justify-content-center">
  <div class="flex flex-col sm:flex-row sm:items-center px-4 pt-4">
    <span class="text-2xl font-semibold">Rules & Bylaws</span>
    <div class="mx-auto"></div>
    <a class="p-button" href="assets/apl_blank_participation_agreement.pdf">
      <span class="text-sm pi pi-download pr-2"></span>
      <span>Participation Agreement</span>
    </a>
  </div>

  <div class="flex flex-col sm:flex-row sm:items-center px-4">
    <span class="text-sm">Last updated: March 25, 2025</span>
  </div>

  <p-tabs class="pt-2" value="0">
    <p-tablist>
      <p-tab class="px-8 py-2" value="0">League Rules</p-tab>
      <p-tab class="px-8 py-2" value="1">League Bylaws</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="0">
        <p-accordion [multiple]="true">
          <p-accordion-panel value="0">
            <p-accordion-header class="px-4 py-2">Overview</p-accordion-header>
            <p-accordion-content>
              <div class="p-2">
                <p>League competition will be governed by the following hierarchy of rules:</p>

                <ol class="list-decimal px-8 py-2">
                  <li>League-approved local course rules</li>
                  <li>League-wide rules</li>
                  <li>
                    "Rules of Golf" as approved by the
                    <a class="link-text" href="http://www.usga.org"
                      >United States Golf Association (USGA)</a
                    >
                  </li>
                </ol>

                <p>
                  For clarification or interpretation of rules of play or points of ethics, where no
                  formal protest is involved, consult a league officer.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="1">
            <p-accordion-header class="px-4 py-2">Rule Disputes</p-accordion-header>
            <p-accordion-content>
              <div class="p-2">
                <p>
                  In case of a dispute concerning either interpretation of the rules or a case not
                  covered by the "Rules of Golf," email the officers after the round and include all
                  golfers present for the match.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="2">
            <p-accordion-header class="px-4 py-2"
              >League-Approved Local Course Rules</p-accordion-header
            >
            <p-accordion-content>
              <div class="p-2">
                <p>
                  In all cases, a one-stroke penalty is incurred when invoking a "drop area" rule.
                </p>

                <p class="py-2 font-bold">Timbers at Troy</p>

                <p>
                  The course local rules designating drop areas on holes 4, 5, 7, 12, and 15 may be
                  used.
                </p>
                <p>
                  In addition, the Timbers flights will allow drop areas to be used on holes 3 and
                  14:
                </p>
                <ul class="list-disc px-8">
                  <li>
                    On #3 the drop area will be in the rough short of the fairway, beyond the berm
                    bordering the drainage pond.
                  </li>
                  <li>
                    On #14 the drop area will be in front of the green no more than 2 club lengths
                    from the line of unplayable rough short of the green.
                  </li>
                </ul>
                <p>
                  In both cases, since no drop area will be marked, the drop area should be agreed
                  to by your opponent using these guidelines and good sense.
                </p>

                <p class="py-2 font-bold">Rattlewood</p>

                <p>
                  In addition to any course-designated drop areas, the Rattlewood flight(s) define a
                  drop area for hole #6 and #10 such that if a ball is lost off the tee into the
                  water, the forward most tee box may be used as a drop area.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="3">
            <p-accordion-header class="px-4 py-2">League-Wide Rules</p-accordion-header>
            <p-accordion-content>
              <div class="p-2">
                <p>
                  The league-adopted rules do not deny the player any option explicitly granted by
                  USGA. The following rules were primarily created in an effort to speed-up play.
                </p>

                <ol class="list-decimal px-8">
                  <li class="py-2">
                    <p class="font-bold">Stroke Play vs Match Play & Concession of Putts</p>
                    <p>
                      During a match, the rules of stroke play (Medal play rather than Match play)
                      shall prevail. However, as an exception to this, putts may be conceded at the
                      option of the opposing team during matches.
                    </p>
                    <p>
                      Note that this does NOT apply to tournaments where all putts must be holed
                      out.
                    </p>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">"Winter Rules" Apply</p>
                    <p>
                      The player may improve the lie of his ball (lift, clean, and place) in his own
                      fairway or around the fringe of the green by moving it no more than one club
                      length from the original lie and not nearer the hole.
                    </p>
                    <p>Penalty for breach of rule: two strokes</p>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">Putting Ball Substitution</p>
                    <p>On any green, a player may substitute another ball for the ball in play.</p>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">Environmental or Reforestation Areas</p>
                    <p>
                      If a player's ball lands, or is presumed to have landed, in a designated
                      <span class="font-bold">environmentally-sensitive or reforestation area</span
                      >, where access and play is disallowed, the player must treat his/her ball as
                      being “Lost” or "Out of Bounds". The player must drop his/her ball outside the
                      area along the line of flight between where the ball was originally struck and
                      the point at which the ball entered the area.
                    </p>
                    <p>Refer to league-wide rule #5 (Ball Lost or Out of Bounds).</p>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">Ball Lost or Out of Bounds</p>
                    <p>
                      If a ball is lost, or out of bounds (and no provisional ball was hit for it),
                      the player may, under penalty of one stroke, drop a ball at any point along
                      the path of his original ball. However, the ball shall not be dropped closer
                      to the hole than the approximate area where the original ball was lost, or
                      passed out of bounds. The ball, unless lost in a fairway, cannot be dropped in
                      a fairway.
                    </p>
                    <p>
                      If it is suspected that a ball is lost or out of bounds, a provisional ball
                      may be played, by announcing to the other team your intentions and then
                      dropping a ball at any point back along the path of the original ball (as
                      described in the previous paragraph). If the original ball is found within a 3
                      minute search period and is in a position that is closer to the hole from
                      where the provisional ball was played, the original ball must be played with
                      no penalty and the provisional ball must be picked up. Once a provisional ball
                      has been played from a point closer to the hole from where the original ball
                      was found, the original ball is considered lost and the provisional ball must
                      be kept in play.
                    </p>
                    <p>A one stroke penalty for a lost or out-of-bounds ball is assessed.</p>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">Use of Distance Measuring Devices</p>
                    <p>
                      A player may, during league matches and tournamentss, obtain distance
                      information by using a device that measures distance, including slope.
                    </p>
                    <p>
                      As a potential exception to the USGA Rule that addresses Advice, for this case
                      a player may request of or provide to members of the opposing team distance
                      measurement results from such devices during the round. However, there is no
                      obligation to do so.
                    </p>
                    <p>Penalty for breach of rule: two strokes</p>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">
                      Allowance for Practice on Same Day/Course as Competition
                    </p>
                    <p>
                      A player may practice on the same day and course as a competition for regular
                      matches and playoffs based on the Match Play nature of these matches. In
                      addition, a player or team may practice on the same day and course as an APL
                      Tournament PROVIDED all players in the tournament begin play at the same time
                      (e.g. a Shot-Gun Start). For any tournament for which there are starting times
                      assigned, practice on the same day and course as said tournament is
                      prohibited.
                    </p>
                    <p>
                      Penalty for breach of rule: disqualification from any awards from said
                      tournament
                    </p>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">Relief from Poorly-Maintained Bunkers</p>
                    <p>
                      Due to the poor condition of many of the bunkers on some of our courses, and
                      to avoid equipment damage and injury, relief can be gotten from obstructions
                      in bunkers without incurring a penalty. This local APL rule provides some
                      additions to the definitions of obstructions and the spirit of Rule 25-1.b.ii.
                    </p>
                    <p>
                      Obstructions to which this rule applies are rocks, sand washouts, bare areas
                      of sand traps, and any other condition unintended by course design and caused
                      by lack of proper maintenance. If there is evidence or suspicion of
                      obstruction that may be struck in the act of playing from a bunker you should
                      inform your opponent of your desire to proceed according to this rule and then
                      proceed according the following steps until relief is obtained.
                    </p>
                    <ol>
                      <li>Remove obstructions without disturbing your current lie.</li>
                      <li>
                        Pick your ball up, clear and rake the location if necessary and replace your
                        ball in that location recreating your original lie.
                      </li>
                      <li>
                        Recreate the type of lie that you had at the nearest point of relief in the
                        trap no closer to the hole, removing obstructions there if it is possible to
                        do so versus the original position.
                      </li>
                      <li>
                        Recreate your lie in another portion of the trap without regard to being
                        closer to the hole if that is not possibleIf the player chooses to drop
                        outside the bunker no closer to the hole then they must do so keeping the
                        original ball position between them and the hole and incur a one stroke
                        penalty.
                      </li>
                    </ol>
                  </li>

                  <li class="py-2">
                    <p class="font-bold">Maximum Score Per Hole</p>
                    <p>
                      A player's maximum gross score on a hole is double par plus handicap strokes.
                    </p>
                  </li>
                </ol>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </p-tabpanel>

      <p-tabpanel value="1">
        <p-accordion [multiple]="true">
          <p-accordion-panel value="0">
            <p-accordion-header class="px-4 py-2"
              >Article I - Purpose, Membership, Organization, and Dues</p-accordion-header
            >
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Membership</p>
                <p>
                  All employees of the Johns Hopkins University Applied Physics Laboratory (JHU/APL)
                  (as defined by the APL Policies and Procedures) are eligible to be a “Employee
                  Member” of the Golf League. All non-employees (including, but not limited to
                  JHU/APL retirees, leased workers, Credit Union employees, family and friends) are
                  eligible to be a “Visitor Member” of the League. Each team’s captain must be
                  either an Employee Member or JHU/APL Retiree. Membership in the Golf League begins
                  with the payment of annual dues of $40.00 and remains in effect for the duration
                  of the “golf season” in which those dues apply. Membership entitles an individual
                  to participate in all Golf League sponsored events and activities.
                </p>

                <p class="py-2 font-bold">Section 2 - Organization</p>
                <p>
                  The Golf League shall be a mixed, handicapped league. The League shall be composed
                  of teams with a minimum of two (2) players per team. Each team will designate a
                  Captain and all players on a team will be afforded an equal opportunity to
                  participate. The formation of teams will take place through an annual registration
                  process. After the registration process is complete, teams will be formed into
                  flights and assigned to a golf course. These course assignments will be based on
                  team requests at registration, course availability, and the requirement that there
                  be at least 6 teams per flight per course.
                </p>

                <p class="py-2 font-bold">Section 3 - Dues</p>
                <p>
                  Golf League membership for the up-coming golf season requires the payment of
                  annual dues to the Treasurer prior to the first scheduled match of the season. The
                  Executive Committee, prior to the start of the registration process, will
                  establish the dues amount. Members who have not paid dues prior to the League’s
                  first scheduled match or first scheduled tournament of the new season are
                  delinquent in dues and automatically suspended from participation in the League.
                  Dues are to be used for general operating expenses. These expenses consist
                  principally of underwriting the annual awards and banquet and off setting the cost
                  of sponsoring League tournaments. Once a member participates in a league event or
                  activity, the member’s dues payment will not be refunded. A dues refund will be
                  made to a member prior to league participation upon the member’s submittal of a
                  written resignation to the League President.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="1">
            <p-accordion-header class="px-4 py-2"
              >Article II - Officers and Duties</p-accordion-header
            >
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Officers</p>
                <p>
                  The League officers shall consist of a President, Vice President, Treasurer, and
                  Handicapper. The League officers shall preside at the will of the Employee Members
                  as defined in Article II, Section 2. The League officers will assume their power
                  and duties prior to the start of the registration period for each season. The
                  League officers shall be exempt from the payment of regular dues.
                </p>

                <p class="py-2 font-bold">Section 2 - President</p>
                <p>
                  The President must be an APL employee and shall act as the chief supervising
                  officer of the League, appoint the necessary committees, serve as The Chairperson
                  of the Executive and Planning Committee, and serve as a member on other committees
                  as indicated in Article V.
                </p>

                <p class="py-2 font-bold">Section 3 - Vice President</p>
                <p>
                  The Vice President must be an APL employee and shall have such powers and duties
                  as usually pertain to such office and assume the duties of the President in the
                  President’s absence. By rule the Vice President is responsible for running the
                  tournament for determining the annual APL Golf League Team Champion.
                </p>

                <p class="py-2 font-bold">Section 4 - Treasurer</p>
                <p>
                  The Treasurer must be an APL employee and shall keep the minutes of League
                  meetings, prepare League correspondence, receive all League funds, and deposit
                  such funds in a repository approved by the Executive Committee. The Treasurer
                  shall pay out funds only with authorization from the League President, and at the
                  end of each season, prepare a financial statement for review by the Executive
                  Committee.
                </p>

                <p class="py-2 font-bold">Section 5 - Handicapper</p>
                <p>
                  The Handicapper shall compute and keep current the handicap scores for all League
                  members. The handicapper will in addition verify the handicaps as recorded by the
                  Flight Secretaries during flight play and compute or verify the handicaps for
                  participants in League sponsored tournaments.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="2">
            <p-accordion-header class="px-4 py-2"
              >Article III - Election of Officers</p-accordion-header
            >
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Elections</p>
                <p>
                  Prior to the start of the season, the President shall poll the team captains for
                  the purpose of nominating officers for the coming year. The entire body of
                  Employee Members, as defined in Article II, Section 2, shall then be given the
                  opportunity to vote for the nominees. Nominees receiving the largest number of
                  votes shall be elected to office. If a slate of nominees does not result from the
                  polling of the team captains, the Executive Committee will meet and nominate a
                  slate of officers to be voted upon by the Employee Members of the League.
                </p>

                <p class="py-2 font-bold">Section 2 - Vacancies</p>
                <p>
                  Should any League office become vacant prior to or during the season, the vacancy
                  shall be filled by Presidential appointment. In the event that the vacancy is for
                  the office of President, the Vice President shall assume the office of President.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="3">
            <p-accordion-header class="px-4 py-2"
              >Article IV - Committees and Duties</p-accordion-header
            >
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Selection of Committees</p>
                <p>The President shall appoint all Committees listed below.</p>

                <p class="py-2 font-bold">Section 2 - Executive Committee</p>
                <p>
                  The Executive Committee will consist of the League officers named in Article III,
                  Section 1, the chairperson from each committee, the most recent past President,
                  one Flight Secretary, and one Employee Member from the membership at-large. The
                  duties of the Executive Committee shall be to administer the League, manage the
                  budget, and conduct operations in accordance with the bylaws. The Committee shall
                  take action on disputes or complaints referred to it by team captains and/or
                  Flight Secretaries.
                </p>

                <p class="py-2 font-bold">Section 3 - Tournament Committee</p>
                <p>
                  The Tournament Committee shall consist of members who shall plan, arrange, and
                  administer special tournaments or outings. These plans and arrangements will
                  include selecting the course, the format of play, the date, the prizes, the player
                  fee, and the level of League subsidy. The Tournament Committee shall submit their
                  planned tournament schedule and budget to the Executive Committee for approval.
                </p>

                <p class="py-2 font-bold">Section 4 - Flight Secretaries</p>
                <p>
                  One Flight Secretary for each flight in the League will be appointed by the
                  Executive Committee and will have the following duties:
                </p>
                <ol type="a">
                  <li>
                    To submit official match scores into the League’s scoring and handicapping
                    system administered and supervised by the League Handicapper.
                  </li>
                  <li>
                    To administer the flight in a way that ensures fair and honest play and in
                    adherence to the following League and flight rules:
                  </li>
                  <ol>
                    <li>Defaulting, postponing, forfeiting, or voiding scheduled matches.</li>
                    <li>The use of substitutes.</li>
                    <li>The recording of scores.</li>
                    <li>The matching of scorecards.</li>
                  </ol>
                  <li>
                    Determining any special rules of golf that apply for the flight. These special
                    rules are those minor variations from the League rules which are desirable to
                    speed up play or which apply to the playing conditions at a particular course.
                  </li>
                </ol>
                <p>Flight Secretaries are exempt from payment of the regular League dues.</p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="4">
            <p-accordion-header class="px-4 py-2">Article V - Rules of Play</p-accordion-header>
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Conduct</p>
                <p>
                  Each member shall agree to conduct themselves in a professional manner at all
                  times and adhere to the rules of conduct and decorum outlined in the APL Standards
                  of Ethics and Conduct.
                </p>

                <p class="py-2 font-bold">Section 2 - Rules of Play</p>
                <p>
                  The rules governing play shall be those as published by the U. S. Golf Association
                  except where amended by the League Rules Committee.
                </p>

                <p class="py-2 font-bold">Section 3 - Scoring</p>
                <p>
                  The method of scoring in each flight will be the 11 point system, a combination of
                  match and stroke play.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="5">
            <p-accordion-header class="px-4 py-2"
              >Article VI - Substitute Golfers</p-accordion-header
            >
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Subtitutes</p>
                <p>
                  The League Handicapper shall maintain a roster of substitute golfers. These
                  players may substitute for a regular team member if said member is unable to
                  participate. Only one substitute shall be permitted per team per match.
                  Substitutes shall not be charged dues and may attend the annual banquet at a fee
                  commensurate with what is charged to non-League members. The substitute golfer’s
                  score shall count only toward the points of the match (i.e. match and medal) but
                  shall not be counted for individual awards.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="6">
            <p-accordion-header class="px-4 py-2">Article VII - Awards</p-accordion-header>
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Eligibility for Awards</p>
                <p>
                  To be eligible for an individual award, either a net award or gross award, the
                  player must participate in at least 5 team matches.
                </p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="7">
            <p-accordion-header class="px-4 py-2">Article VIII - Annual Meeting</p-accordion-header>
            <p-accordion-content>
              <div class="p-2">
                <p class="py-2 font-bold">Section 1 - Meeting Attendance</p>
                <p>A meeting/banquet and the presentation of awards shall be held annually.</p>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>
