<p-card>
  <div class="flex flex-row px-4 py-4">
    <span class="text-2xl font-semibold">Roster</span>
    <div class="mx-auto"></div>
    @if (showTeamEmailButton) {
      <a
        class="p-button hidden md:block"
        href="mailto:{{ getTeamEmailList() }}"
        >
        <span class="text-sm pi pi-send pr-2"></span>
        <span>Team</span>
      </a>
    }
  </div>

  <p-table
    [value]="teamData.golfers"
    stripedRows
    selectionMode="single"
    dataKey="golfer_id"
    [(selection)]="selectedGolfer"
    (onRowSelect)="onGolferSelected()"
    >
    <ng-template #header>
      <tr>
        <th class="w-50">Golfer</th>
        <th class="w-20">Role</th>
        <th class="w-20">Division</th>
        <th class="w-20">Handicap</th>
      </tr>
    </ng-template>
    <ng-template #body let-golfer>
      <tr [pSelectableRow]="golfer">
        <td class="font-semibold text-gray-700">{{ golfer.golfer_name }}</td>
        <td class="text-gray-700">{{ golfer.role }}</td>
        <td class="text-gray-700">{{ golfer.division_name }}</td>
        <td class="text-gray-700">{{ golfer.handicap_index | number: '1.1-1' }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
