<table>
  <tr class="hole">
      <td class="bold">Hole</td>
      <td *ngFor="let hole of teeSet.holes">{{ hole.number }}</td>
      <td class="bold">TOT</td>
  </tr>
  <tr class="par">
      <td class="bold">Par</td>
      <td *ngFor="let hole of teeSet.holes">{{ hole.par }}</td>
      <td class="bold">{{ computeTotalPar() }}</td>
  </tr>
  <tr class="yards">
      <td class="bold">Yards</td>
      <td *ngFor="let hole of teeSet.holes">{{ hole.yardage }}</td>
      <td class="bold">{{ computeTotalYardage() }}</td>
  </tr>
  <tr class="handicap">
      <td class="bold">Hcp</td>
      <td *ngFor="let hole of teeSet.holes">{{ hole.handicap }}</td>
      <td class="bold">--</td>
  </tr>
  <!-- <tr class="handicap-strokes" *ngIf="round">
      <td class="bold"></td>
      <td *ngFor="let holeResult of round.holeResults">
        <div [ngClass]="{'red-dot' : (holeResult.adjustedGrossScore - holeResult.netScore) < 0, 'black-dot' : (holeResult.adjustedGrossScore - holeResult.netScore) > 0}"></div>
      </td>
      <td class="bold"></td>
  </tr>
  <tr class="gross" *ngIf="round">
      <td class="bold">Gross</td>
      <td *ngFor="let holeResult of round.holeResults">
        <div [ngClass]="{'circle' : holeResult.grossScore <= holeResult.hole.par - 1, 'square' : holeResult.grossScore >= holeResult.hole.par + 1, 'crosshatch' : (holeResult.grossScore >= holeResult.hole.par + 2) || (holeResult.grossScore <= holeResult.hole.par - 2)}">
          {{ holeResult.grossScore }}
        </div>
      </td>
      <td class="bold">{{ computeTotalGrossScore() }}</td>
  </tr>
  <tr class="adjustedGross" *ngIf="round">
    <td class="bold">AG</td>
      <td *ngFor="let holeResult of round.holeResults">
        <div [ngClass]="{'circle' : holeResult.adjustedGrossScore <= holeResult.hole.par - 1, 'square' : holeResult.adjustedGrossScore >= holeResult.hole.par + 1, 'crosshatch' : (holeResult.adjustedGrossScore >= holeResult.hole.par + 2) || (holeResult.adjustedGrossScore <= holeResult.hole.par - 2)}">
          {{ holeResult.adjustedGrossScore }}
        </div>
      </td>
      <td class="bold">{{ computeTotalAdjustedGrossScore() }}</td>
  </tr>
  <tr class="net" *ngIf="round">
      <td class="bold">Net</td>
      <td *ngFor="let holeResult of round.holeResults">
        <div [ngClass]="{'circle' : holeResult.netScore <= holeResult.hole.par - 1, 'square' : holeResult.netScore >= holeResult.hole.par + 1, 'crosshatch' : (holeResult.netScore >= holeResult.hole.par + 2) || (holeResult.netScore <= holeResult.hole.par - 2)}">
          {{ holeResult.netScore }}
        </div>
      </td>
      <td class="bold">{{ computeTotalNetScore() }}</td>
  </tr> -->
</table>
